
<div class="apartment-slider">
  <div class="wrap-slider-big">
    <div class="price">$ 850,000</div>
    <div class="caption">
      <div class="pull-left">
        <label id="modern" class="line active"><span class="text">Modern</span><span class="mark"></span><span class="price-item">$ 1,500-$ 2,500</span></label>
        <label id="contemporaty" class="line"><span class="text">Contemporaty</span><span class="mark"></span><span class="price-item">$ 1,500-$ 2,500</span></label>
        <label id="classic" class="line"><span class="text">Classic</span><span class="mark"></span><span class="price-item">$ 1,500-$ 2,500</span></label>
      </div>
      <div class="pull-right">
        <div class="info-contact">
          <div class="image-logo"><img src="http://placehold.it/80"/></div>
          <div class="info">
            <p class="text">Furnished by <br><b>Furniture Company A</b></p><a>Click here to contact >></a>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div id="slider" class="flexslider">
      <ul class="slides">
        <li><span class="entry"><img src="asset/img/data-example/apartment1.png"/></span></li>
        <li><span class="entry"><img src="asset/img/data-example/apartment2.png"/></span></li>
        <li><span class="entry"><img src="asset/img/data-example/apartment3.png"/></span></li>
        <li><span class="entry"><img src="asset/img/data-example/apartment4.png"/></span></li>
        <li><span class="entry"><img src="asset/img/data-example/apartment5.png"/></span></li>
        <li><span class="entry"><img src="asset/img/data-example/apartment6.png"/></span></li>
        <li><span class="entry"><img src="asset/img/data-example/apartment7.png"/></span></li>
      </ul>
    </div>
  </div>
  <div id="carousel" class="flexslider">
    <ul class="slides">
      <li><span class="entry"><img src="asset/img/data-example/apartment1.png"/></span></li>
      <li><span class="entry"><img src="asset/img/data-example/apartment2.png"/></span></li>
      <li><span class="entry"><img src="asset/img/data-example/apartment3.png"/></span></li>
      <li><span class="entry"><img src="asset/img/data-example/apartment4.png"/></span></li>
      <li><span class="entry"><img src="asset/img/data-example/apartment5.png"/></span></li>
      <li><span class="entry"><img src="asset/img/data-example/apartment6.png"/></span></li>
      <li><span class="entry"><img src="asset/img/data-example/apartment7.png"/></span></li>
    </ul>
  </div>
</div>