<!DOCTYPE HTML>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Trang chủ</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
  <link rel="stylesheet" href="asset/css/style.css">
  <script type="text/javascript" src="asset/js/jquery.js"></script>
  <script type="text/javascript" src="asset/js/swiper.js"></script>
  <script type="text/javascript" src="asset/js/apartment.js"></script>
  <script type="text/javascript" src="asset/js/global.js"></script>
  <body>
    <div class="header-site">
      <div class="block-left"></div>
      <div class="block-center"><a><img src="asset/img/logo.png" alt=""></a></div><a href="search.html" class="block-right"></a>
    </div>
    <div class="menu-sidebar">
      <div class="header-menu">
        <div class="tool-left"><a href="">Tiếng Anh</a><a href="">Tiếng Việt</a></div><a class="btn-close-menu"></a>
      </div>
      <div class="wrap-menu">
        <div class="entry">
          <ul class="menu-content">
            <li class="has-child"><a><span class="icon-esta icon-user"></span>Lan Le</a>
              <ul class="sub-menu">
                <li><a>Thông tin cơ bản</a></li>
                <li><a>Căn hộ đã mua</a></li>
                <li><a>Thông báo</a></li>
                <li><a>Đã lưu</a></li>
                <li><a>Cài đặt</a></li>
              </ul>
            </li>
            <li><a>Đăng nhập</a></li>
            <li><a>Dự án</a></li>
            <li><a>Bán</a></li>
            <li><a>Thuê</a></li>
            <li><a>Dịch vụ mở rộng</a></li>
            <li><a>Tìm đại lý</a></li>
            <li><a>Tin tức</a></li>
            <li class="has-child"><a>Nhiều hơn</a>
              <ul class="sub-menu">
                <li><a>Đăng nhập</a></li>
                <li><a>Dự án</a></li>
                <li><a>Bán</a></li>
                <li><a>Thuê</a></li>
                <li><a>Dịch vụ mở rộng</a></li>
                <li><a>Tìm đại lý</a></li>
              </ul>
            </li>
            <li><a>Thoát</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block-header-tab layout-3"><a class="active item">Nội thất</a><a href="search-filter.html" class="item">Hình ảnh</a><a href="search-filter.html" class="item">Sơ đồ</a>
      <div class="clearfix"></div>
    </div>
    <div class="main-content">
      <h1 class="title-style1 text-center">Tên apartment</h1>
      <div class="slides-apartment custom-swiper row-main">
        <div class="favorite"></div>
        <div class="notification-single"></div>
        <div class="price-main">$ 300.000</div>
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="entry">
                <div class="thumbnail-custom">
                  <div style="background-image: url(asset/img/data-example/p3.jpg)" class="img"></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="entry">
                <div class="thumbnail-custom">
                  <div style="background-image: url(asset/img/data-example/p2.jpg)" class="img"></div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="entry">
                <div class="thumbnail-custom">
                  <div style="background-image: url(asset/img/data-example/p4.jpg)" class="img"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
        <div class="logo-designer">
          <div class="thumbnail-custom">
            <div style="background-image: url(asset/img/data-example/agent3.png)" class="img"></div>
          </div>
          <div class="summary">Thiết kế bởi <br> <span class="title">Phát Tài Design </span></div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="list-gallery"><a href="" class="item active">Modern<span class="price">$ 1,500-$ 2,500</span></a><a href="" class="item">Contemporaty<span class="price">$ 1,500-$ 2,500</span></a><a href="" class="item">Classic<span class="price">$ 1,500-$ 2,500</span></a></div>
      <div class="row-main view-panorama">
        <div class="button-navi"><a class="btn-left"></a><a class="btn-right"></a></div>
        <div class="panorama"><img src="asset/img/data-example/panorama.png" alt=""></div>
      </div>
      <div class="share-tool"><span class="text">Share this</span>
        <div class="block-img"><a href="" class="item-share"><img src="asset/img/icon/ic-google.png"></a><a href="" class="item-share"><img src="asset/img/icon/ic-facebook.png"></a><a href="" class="item-share"><img src="asset/img/icon/ic-twitter.png"></a></div>
      </div>
      <p class="text-danger text-center">Requested on 23/12/2013, 12:03 pm</p>
      <div class="tools-single-apartment"><a class="esta-button text-center dis block">Send Request</a><a class="esta-button text-center dis block">Payment Method</a><a class="esta-button text-center dis block">Feng Shui</a></div>
      <h3 class="title-style1 m-t-20">Căn hộ phù hợp với</h3>
      <div class="block-property-single layout-2-col">
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Sinh viên</div>
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Gia đình</div>
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Văn phòng</div>
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Người già</div>
        <div class="clearfix"></div>
      </div>
      <div class="hr"></div>
      <h3 class="title-style1">Mục đích sử dụng</h3>
      <div class="block-property-single layout-2-col">
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Đầu tư</div>
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Cho thuê</div>
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Để ở</div>
        <div class="line-icon span m-b-5"><span class="icon-span"></span>Mua chơi</div>
        <div class="clearfix"></div>
      </div>
      <div class="hr"></div>
      <h3 class="title-style1">Tổng quan</h3>
      <div class="block-property-single layout-3-col m-t-10">
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon">50m<sup>2</sup></div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon">Lầu thứ 9</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon">Hướng biển</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon">2 Phòng ngủ</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon">Đông bắc</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon">2 Phòng tắm</div>
        <div class="clearfix"></div>
      </div>
      <div class="description m-t-10">
        <div class="short">Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...</div>
        <div class="long">
          Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
          Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
          Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
          Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...
        </div>
        <div class="more-link"><a class="link"> [+Xem thêm]</a></div>
      </div>
      <div class="hr"></div>
      <h3 class="title-style1">Tiện ích</h3>
      <div class="block-property-single layout-2-col">
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon">Sân băng trong nhà</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon">VINKE</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon">Rạp chiếu phim</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon">Sảnh Lounge</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon">Club – House 5 sao</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon">Nhà sinh hoạt</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon">Trường liên cấp</div>
        <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon">Bể bơi</div>
        <div class="clearfix"></div>
      </div>
      <div class="hr"></div>
      <h3 class="title-style1">Vị trí</h3>
      <div class="des m-b-10"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat necessitatibus, quasi ut saepe, labore deleniti.</div>
      <div class="main-image"><img src="asset/img/data-example/popsition.png" alt=""></div>
      <h3 class="title-style1 m-t-15">Thông tin Đại lý</h3>
      <div class="view-agent">
        <div class="content-block">
          <div class="avatar"><img src="asset/img/data-example/avatar.png"></div>
          <div class="summary">
            <div class="entry">
              <div class="username">DINH MANH C</div>
              <div class="intro-agent">
                <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-mail.png"></span>agent12345@gmail.com</div>
                <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-phone.png"></span>+(84) 92 22 22 222</div>
                <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-home.png"></span>20 Recent Sales</div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
          <div class="summary-user m-t-10">
            <div class="title text-danger"><b>Professional (5 years experience)</b></div>
            <div class="description">
              <div class="short">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, adipiscing elit...</div>
              <div class="long">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, adipiscing elit...
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, adipiscing elit...
              </div>
              <div class="more-link"><a class="link"> [+Xem thêm]</a></div>
            </div>
          </div>
          <div class="action-bottom m-t-10 m-b-15"><a class="link-action esta-button dis block btn-small">Contact</a></div>
        </div>
      </div>
      <div class="hr"></div>
      <h3 class="title-style1">Căn hộ tương tự</h3>
      <div class="slides-project-other custom-swiper row-main">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="entry">
                <div class="thumbnail-custom">
                  <div style="background-image: url(asset/img/data-example/p1.jpg)" class="img"></div>
                </div>
                <div class="caption">
                  <h3 class="title">Lorem ipsum dolor.</h3>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="entry">
                <div class="thumbnail-custom">
                  <div style="background-image: url(asset/img/data-example/p2.jpg)" class="img"></div>
                </div>
                <div class="caption">
                  <h3 class="title">Lorem ipsum dolor.</h3>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="entry">
                <div class="thumbnail-custom">
                  <div style="background-image: url(asset/img/data-example/p3.jpg)" class="img"></div>
                </div>
                <div class="caption">
                  <h3 class="title">Lorem ipsum dolor.</h3>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
    <div class="footer-site">
      <div class="entry-footer">
        <div class="address">
          <div class="entry">
            <div class="title">HOCHIMINH CITY</div>
            <div class="des">Topaz 1 Building, 92 Nguyen Huu Canh, <br> Ward 22, Binh Thanh Dist., HCMC</div>
          </div>
          <div class="entry">
            <div class="title">HANOI</div>
            <div class="des">R4 Building, Royal City Residence,<br> 72A Nguyen Trai, Thanh Xuan Dist., Hanoi</div>
          </div>
          <div class="entry">
            <div><b>TEL :</b> +(84) 8 6689 3838</div>
            <div><b>HCMC :</b> +(84) 93 996 07 07</div>
            <div><b>HANOI :</b> +(84) 983 1111 02</div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="text-center">
            <div class="title">FOLLOW US</div>
            <div class="social"><a href="#" class="facebook"><img src="asset/img/icon/ic-google-w.png"></a><a href="#" class="google"><img src="asset/img/icon/ic-facebook-w.png"></a><a href="#" class="twiter"><img src="asset/img/icon/ic-twitter-w.png"></a></div>
            <div class="copyright">Copyright Esta 2015 All Rights Reserved</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>