<!DOCTYPE HTML>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Trang chủ</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
  <link rel="stylesheet" href="asset/css/style.css">
  <script type="text/javascript" src="asset/js/jquery.js"></script>
  <script type="text/javascript" src="asset/js/swiper.js"></script>
  <script type="text/javascript" src="asset/js/apartment.js"></script>
  <script type="text/javascript" src="asset/js/global.js"></script>
  <body>
    <div class="header-site">
      <div class="block-left"></div>
      <div class="block-center"><a><img src="asset/img/logo.png" alt=""></a></div><a href="search.html" class="block-right"></a>
    </div>
    <div class="menu-sidebar">
      <div class="header-menu">
        <div class="tool-left"><a href="">Tiếng Anh</a><a href="">Tiếng Việt</a></div><a class="btn-close-menu"></a>
      </div>
      <div class="wrap-menu">
        <div class="entry">
          <ul class="menu-content">
            <li class="has-child"><a><span class="icon-esta icon-user"></span>Lan Le</a>
              <ul class="sub-menu">
                <li><a>Thông tin cơ bản</a></li>
                <li><a>Căn hộ đã mua</a></li>
                <li><a>Thông báo</a></li>
                <li><a>Đã lưu</a></li>
                <li><a>Cài đặt</a></li>
              </ul>
            </li>
            <li><a>Đăng nhập</a></li>
            <li><a>Dự án</a></li>
            <li><a>Bán</a></li>
            <li><a>Thuê</a></li>
            <li><a>Dịch vụ mở rộng</a></li>
            <li><a>Tìm đại lý</a></li>
            <li><a>Tin tức</a></li>
            <li class="has-child"><a>Nhiều hơn</a>
              <ul class="sub-menu">
                <li><a>Đăng nhập</a></li>
                <li><a>Dự án</a></li>
                <li><a>Bán</a></li>
                <li><a>Thuê</a></li>
                <li><a>Dịch vụ mở rộng</a></li>
                <li><a>Tìm đại lý</a></li>
              </ul>
            </li>
            <li><a>Thoát</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block-header-tab layout-3"><a id="tab1" href="" class="item active show-content">Trả 100%</a><a id="tab2" href="search-filter.html" class="item show-content">Trả theo tiến độ</a><a id="tab3" href="" class="item show-content">Vay ngân hàng</a>
      <div class="clearfix"></div>
    </div>
    <div class="main-content">
      <h1 class="title-style1">Phương thức thanh toán</h1>
      <div class="hr"></div>
      <div class="info info-payment"><b class="text-danger f14">Information</b>
        <div id="tab1" class="description m-t-5 show">
          <div class="short">Trả 100% Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment</div>
          <div class="long">
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...
          </div>
          <div class="more-link"><a class="link"> [+Xem thêm]</a></div>
        </div>
        <div id="tab2" class="description m-t-5">
          <div class="short">Trả theo tiến độ Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment</div>
          <div class="long">
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...
          </div>
          <div class="more-link"><a class="link"> [+Xem thêm]</a></div>
        </div>
        <div id="tab3" class="description m-t-5">
          <div class="short">Vay vốn ngân hàng Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment</div>
          <div class="long">
            Vay vốn ngân hàngVinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
            Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...
          </div>
          <div class="more-link"><a class="link"> [+Xem thêm]</a></div>
        </div>
      </div>
      <div class="hr"></div>
      <form class="form-enterest"><b class="text-danger f14">Ngân hàng</b>
        <form class="filter-block m-t-15">
          <select class="esta-select block m-t-10">
            <option>Tiền tệ</option>
            <option>USD</option>
            <option>VND</option>
          </select>
          <select class="esta-select block m-t-10">
            <option>Kienlong Bank</option>
            <option>TienPhong Bank</option>
            <option>Southern Bank</option>
            <option>OCB</option>
            <option>ABBanK</option>
            <option>BAOVIETBank</option>
            <option>VPBANK</option>
            <option>SCB</option>
            <option>OCEANBANK</option>
            <option>VIB</option>
            <option>MDB</option>
            <option>BIDV</option>
            <option>Vietcombank</option>
            <option>Viettin Bank</option>
            <option>Techcombank</option>
            <option>AGRIBANK</option>
            <option>VietCapital Bank</option>
            <option>Vinasiam Bank</option>
            <option>TrustBank</option>
            <option>Maritime Bank</option>
            <option>Western Bank</option>
            <option>VRB</option>
            <option>SVB</option>
            <option>VietA Bank</option>
            <option>NamA Bank</option>
            <option>VietBank</option>
            <option>SAIGON</option>
            <option>DAIABANK</option>
            <option>NAVIBANK</option>
            <option>LienvietPost Bank</option>
            <option>PG Bank</option>
            <option>MB</option>
            <option>DongABank</option>
            <option>SHB</option>
            <option>GP Bank</option>
            <option>BacA Bank</option>
          </select>
          <select class="esta-select block m-t-10">
            <option>Thời hạn</option>
            <option>Không kì hạn</option>
            <option>1 tháng</option>
            <option>2 tháng</option>
            <option>3 tháng</option>
            <option>6 tháng</option>
            <option>9 tháng</option>
            <option>12 tháng</option>
            <option>18 tháng</option>
            <option>24 tháng</option>
            <option>36 tháng</option>
          </select>
          <select class="esta-select block m-t-10">
            <option>Lãi suất</option>
            <option>7.5%</option>
            <option>10%</option>
            <option>15%</option>
          </select>
          <div class="m-t-5 m-b-10"><i>This table will help you calculate the amount needed borrow from banks to mortgage</i></div>
          <div class="m-b-5">Thời gian vay (x tháng - năm)</div>
          <div class="line-group m-b-10">
            <input type="text" placeholder="" class="esta-input text-right">
            <select class="esta-select block">
              <option>Tháng</option>
              <option>Năm</option>
            </select>
          </div>
          <div class="m-b-5">Lãi suất (x%/tháng - năm)</div>
          <div class="line-group m-b-10">
            <input type="text" placeholder="" class="esta-input text-right">
            <select class="esta-select block">
              <option>Tháng</option>
              <option>Năm</option>
            </select>
          </div>
          <select class="esta-select block m-t-10">
            <option>Loại hình</option>
            <option>Trả lãi chia đều</option>
            <option>Trả lãi giảm dần (vốn hàng tháng)</option>
            <option>Trả lãi giảm dần (vốn hàng quý)</option>
          </select>
          <div class="action-bottom m-t-10 m-b-15">
            <button type="submit" class="link-action esta-button dis block btn-small">Kết quả</button>
          </div>
        </form>
      </form>
    </div>
    <div class="footer-site">
      <div class="entry-footer">
        <div class="address">
          <div class="entry">
            <div class="title">HOCHIMINH CITY</div>
            <div class="des">Topaz 1 Building, 92 Nguyen Huu Canh, <br> Ward 22, Binh Thanh Dist., HCMC</div>
          </div>
          <div class="entry">
            <div class="title">HANOI</div>
            <div class="des">R4 Building, Royal City Residence,<br> 72A Nguyen Trai, Thanh Xuan Dist., Hanoi</div>
          </div>
          <div class="entry">
            <div><b>TEL :</b> +(84) 8 6689 3838</div>
            <div><b>HCMC :</b> +(84) 93 996 07 07</div>
            <div><b>HANOI :</b> +(84) 983 1111 02</div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="text-center">
            <div class="title">FOLLOW US</div>
            <div class="social"><a href="#" class="facebook"><img src="asset/img/icon/ic-google-w.png"></a><a href="#" class="google"><img src="asset/img/icon/ic-facebook-w.png"></a><a href="#" class="twiter"><img src="asset/img/icon/ic-twitter-w.png"></a></div>
            <div class="copyright">Copyright Esta 2015 All Rights Reserved</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>