<!DOCTYPE HTML>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Trang chủ</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
  <link rel="stylesheet" href="asset/css/style.css">
  <script type="text/javascript" src="asset/js/jquery.js"></script>
  <script type="text/javascript" src="asset/js/global.js"></script>
  <body>
    <div class="header-site">
      <div class="block-left"></div>
      <div class="block-center"><a><img src="asset/img/logo.png" alt=""></a></div><a href="search.html" class="block-right"></a>
    </div>
    <div class="menu-sidebar">
      <div class="header-menu">
        <div class="tool-left"><a href="">Tiếng Anh</a><a href="">Tiếng Việt</a></div><a class="btn-close-menu"></a>
      </div>
      <div class="wrap-menu">
        <div class="entry">
          <ul class="menu-content">
            <li class="has-child"><a><span class="icon-esta icon-user"></span>Lan Le</a>
              <ul class="sub-menu">
                <li><a>Thông tin cơ bản</a></li>
                <li><a>Căn hộ đã mua</a></li>
                <li><a>Thông báo</a></li>
                <li><a>Đã lưu</a></li>
                <li><a>Cài đặt</a></li>
              </ul>
            </li>
            <li><a>Đăng nhập</a></li>
            <li><a>Dự án</a></li>
            <li><a>Bán</a></li>
            <li><a>Thuê</a></li>
            <li><a>Dịch vụ mở rộng</a></li>
            <li><a>Tìm đại lý</a></li>
            <li><a>Tin tức</a></li>
            <li class="has-child"><a>Nhiều hơn</a>
              <ul class="sub-menu">
                <li><a>Đăng nhập</a></li>
                <li><a>Dự án</a></li>
                <li><a>Bán</a></li>
                <li><a>Thuê</a></li>
                <li><a>Dịch vụ mở rộng</a></li>
                <li><a>Tìm đại lý</a></li>
              </ul>
            </li>
            <li><a>Thoát</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="wrap-list">
      <form class="filter-block block-inner2">
        <select class="esta-select block">
          <option>Block A</option>
          <option>Block B</option>
          <option>Block C</option>
          <option>Block D</option>
        </select>
        <select class="esta-select block m-t-10">
          <option>Floor 1</option>
          <option>Floor 2</option>
          <option>Floor 3</option>
          <option>Floor 4</option>
        </select>
      </form>
      <div class="block-inner1">
        <h1 class="title-style1">SEARCH RESULTS
          <div class="des-title">We found 100 properties with availability.</div>
        </h1>
      </div>
      <div class="list-style3">
        <div class="entry">
          <div class="item"><a href="" class="entry-item">
              <div class="thumbnail">
                <div style="background-image: url(asset/img/data-example/p1.jpg)" class="img"></div>
                <div class="price">$ 3.000.000</div>
              </div>
              <div class="cation">
                <h3 class="name">Vinhomes Times City -A7-88</h3>
                <div class="address">458 Minh Khai St.</div>
                <div class="hr"></div>
                <div class="block-property">
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon"/>50m<sup>2</sup></div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon"/>Lầu thứ 9</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon"/>Hướng biển</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon"/>2 Phòng ngủ</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon"/>Đông bắc</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon"/>2 Phòng tắm</div>
                  <div class="clearfix"></div>
                </div>
              </div></a>
          </div>
          <div class="item"><a href="" class="entry-item">
              <div class="thumbnail">
                <div style="background-image: url(asset/img/data-example/p2.jpg)" class="img"></div>
                <div class="price">$ 3.000.000</div>
              </div>
              <div class="cation">
                <h3 class="name">Vinhomes Times City -A7-88</h3>
                <div class="address">458 Minh Khai St.</div>
                <div class="hr"></div>
                <div class="block-property">
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon"/>50m<sup>2</sup></div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon"/>Lầu thứ 9</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon"/>Hướng biển</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon"/>2 Phòng ngủ</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon"/>Đông bắc</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon"/>2 Phòng tắm</div>
                  <div class="clearfix"></div>
                </div>
              </div></a>
          </div>
          <div class="item"><a href="" class="entry-item">
              <div class="thumbnail">
                <div style="background-image: url(asset/img/data-example/p3.jpg)" class="img"></div>
                <div class="price">$ 3.000.000</div>
              </div>
              <div class="cation">
                <h3 class="name">Vinhomes Times City -A7-88</h3>
                <div class="address">458 Minh Khai St.</div>
                <div class="hr"></div>
                <div class="block-property">
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon"/>50m<sup>2</sup></div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon"/>Lầu thứ 9</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon"/>Hướng biển</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon"/>2 Phòng ngủ</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon"/>Đông bắc</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon"/>2 Phòng tắm</div>
                  <div class="clearfix"></div>
                </div>
              </div></a>
          </div>
          <div class="item"><a href="" class="entry-item">
              <div class="thumbnail">
                <div style="background-image: url(asset/img/data-example/p4.jpg)" class="img"></div>
                <div class="price">$ 3.000.000</div>
              </div>
              <div class="cation">
                <h3 class="name">Vinhomes Times City -A7-88</h3>
                <div class="address">458 Minh Khai St.</div>
                <div class="hr"></div>
                <div class="block-property">
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon"/>50m<sup>2</sup></div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon"/>Lầu thứ 9</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon"/>Hướng biển</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon"/>2 Phòng ngủ</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon"/>Đông bắc</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon"/>2 Phòng tắm</div>
                  <div class="clearfix"></div>
                </div>
              </div></a>
          </div>
          <div class="item"><a href="" class="entry-item">
              <div class="thumbnail">
                <div style="background-image: url(asset/img/data-example/p1.jpg)" class="img"></div>
                <div class="price">$ 3.000.000</div>
              </div>
              <div class="cation">
                <h3 class="name">Vinhomes Times City -A7-88</h3>
                <div class="address">458 Minh Khai St.</div>
                <div class="hr"></div>
                <div class="block-property">
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon"/>50m<sup>2</sup></div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon"/>Lầu thứ 9</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon"/>Hướng biển</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon"/>2 Phòng ngủ</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon"/>Đông bắc</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon"/>2 Phòng tắm</div>
                  <div class="clearfix"></div>
                </div>
              </div></a>
          </div>
          <div class="item"><a href="" class="entry-item">
              <div class="thumbnail">
                <div style="background-image: url(asset/img/data-example/p2.jpg)" class="img"></div>
                <div class="price">$ 3.000.000</div>
              </div>
              <div class="cation">
                <h3 class="name">Vinhomes Times City -A7-88</h3>
                <div class="address">458 Minh Khai St.</div>
                <div class="hr"></div>
                <div class="block-property">
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon"/>50m<sup>2</sup></div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon"/>Lầu thứ 9</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon"/>Hướng biển</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon"/>2 Phòng ngủ</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon"/>Đông bắc</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon"/>2 Phòng tắm</div>
                  <div class="clearfix"></div>
                </div>
              </div></a>
          </div>
          <div class="item"><a href="" class="entry-item">
              <div class="thumbnail">
                <div style="background-image: url(asset/img/data-example/p3.jpg)" class="img"></div>
                <div class="price">$ 3.000.000</div>
              </div>
              <div class="cation">
                <h3 class="name">Vinhomes Times City -A7-88</h3>
                <div class="address">458 Minh Khai St.</div>
                <div class="hr"></div>
                <div class="block-property">
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-size-black.png" alt="" class="icon"/>50m<sup>2</sup></div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-floor-black.png" alt="" class="icon"/>Lầu thứ 9</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-sea-view-black.png" alt="" class="icon"/>Hướng biển</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bed-black.png" alt="" class="icon"/>2 Phòng ngủ</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-orientation-black.png" alt="" class="icon"/>Đông bắc</div>
                  <div class="line-icon"><img src="asset/img/data-example/icon/ic-bath-black.png" alt="" class="icon"/>2 Phòng tắm</div>
                  <div class="clearfix"></div>
                </div>
              </div></a>
          </div>
        </div>
        <div class="link-more text-right"><a href="" class="link">See more</a></div>
      </div>
    </div>
    <div class="footer-site">
      <div class="entry-footer">
        <div class="address">
          <div class="entry">
            <div class="title">HOCHIMINH CITY</div>
            <div class="des">Topaz 1 Building, 92 Nguyen Huu Canh, <br> Ward 22, Binh Thanh Dist., HCMC</div>
          </div>
          <div class="entry">
            <div class="title">HANOI</div>
            <div class="des">R4 Building, Royal City Residence,<br> 72A Nguyen Trai, Thanh Xuan Dist., Hanoi</div>
          </div>
          <div class="entry">
            <div><b>TEL :</b> +(84) 8 6689 3838</div>
            <div><b>HCMC :</b> +(84) 93 996 07 07</div>
            <div><b>HANOI :</b> +(84) 983 1111 02</div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="text-center">
            <div class="title">FOLLOW US</div>
            <div class="social"><a href="#" class="facebook"><img src="asset/img/icon/ic-google-w.png"></a><a href="#" class="google"><img src="asset/img/icon/ic-facebook-w.png"></a><a href="#" class="twiter"><img src="asset/img/icon/ic-twitter-w.png"></a></div>
            <div class="copyright">Copyright Esta 2015 All Rights Reserved</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>