<!DOCTYPE HTML>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
  <title>Trang chủ</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
  <link rel="stylesheet" href="asset/css/style.css">
  <script type="text/javascript" src="asset/js/jquery.js"></script>
  <script type="text/javascript" src="asset/js/global.js"></script>
  <body>
    <div class="header-site">
      <div class="block-left"></div>
      <div class="block-center"><a><img src="asset/img/logo.png" alt=""></a></div><a href="search.html" class="block-right"></a>
    </div>
    <div class="menu-sidebar">
      <div class="header-menu">
        <div class="tool-left"><a href="">Tiếng Anh</a><a href="">Tiếng Việt</a></div><a class="btn-close-menu"></a>
      </div>
      <div class="wrap-menu">
        <div class="entry">
          <ul class="menu-content">
            <li class="has-child"><a><span class="icon-esta icon-user"></span>Lan Le</a>
              <ul class="sub-menu">
                <li><a>Thông tin cơ bản</a></li>
                <li><a>Căn hộ đã mua</a></li>
                <li><a>Thông báo</a></li>
                <li><a>Đã lưu</a></li>
                <li><a>Cài đặt</a></li>
              </ul>
            </li>
            <li><a>Đăng nhập</a></li>
            <li><a>Dự án</a></li>
            <li><a>Bán</a></li>
            <li><a>Thuê</a></li>
            <li><a>Dịch vụ mở rộng</a></li>
            <li><a>Tìm đại lý</a></li>
            <li><a>Tin tức</a></li>
            <li class="has-child"><a>Nhiều hơn</a>
              <ul class="sub-menu">
                <li><a>Đăng nhập</a></li>
                <li><a>Dự án</a></li>
                <li><a>Bán</a></li>
                <li><a>Thuê</a></li>
                <li><a>Dịch vụ mở rộng</a></li>
                <li><a>Tìm đại lý</a></li>
              </ul>
            </li>
            <li><a>Thoát</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="block-header-tab layout-2"><a class="active item">Đại lý</a><a class="item">Người dùng</a>
      <div class="clearfix"></div>
    </div>
    <div class="main-content">
      <form class="form-custom m-t-5">
        <div class="block-avarta m-b-20">
          <div class="entry"><img src="../asset/img/data-example/agent3.png" alt="" class="main"><a href=""><img src="asset/img/ic-camera.png" alt="" class="icon">Thay hình đại diện</a></div>
        </div>
        <h1 class="title-style1">Cài đặt tài khoản</h1>
        <div class="line-input">
          <label>Tên</label>
          <input type="text" placeholder="Tên" class="esta-input">
        </div>
        <div class="line-input m-t-10">
          <label>Mật khẩu</label>
          <input type="text" placeholder="Nhập mật khẩu" class="esta-input">
        </div>
        <div class="line-input m-t-10">
          <label for="">Tỉnh thành</label>
          <select name="">
            <option value="">Chọn tỉnh thành</option>
          </select>
        </div>
        <div class="line-input m-t-10">
          <label>Sinh nhật</label>
          <div class="row-col">
            <div class="col-xs-4">
              <select name="">
                <option value="">Chọn ngày</option>
              </select>
            </div>
            <div class="col-xs-4">
              <select name="">
                <option value="">Chọn tháng</option>
              </select>
            </div>
            <div class="col-xs-4">
              <select name="">
                <option value="">Chọn năm</option>
              </select>
            </div>
          </div>
        </div>
        <div class="line-input m-t-10">
          <div class="row-col">
            <div class="col-xs-6">
              <label for="remember" class="custom-checkbox">
                <input type="checkbox" id="remember"><span class="mark"></span>Công ty
              </label>
            </div>
            <div class="col-xs-6">
              <label for="remember" class="custom-checkbox">
                <input type="checkbox" id="remember"><span class="mark"></span>Tư do
              </label>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="hr m-t-15 m-b-15"></div>
        <h1 class="title-style1">Cài đặt thông báo</h1>
        <div class="line-input m-t-10">
          <label>Lưu kết quả</label>
          <div class="row-col">
            <div class="col-xs-6">
              <label for="remember" class="custom-checkbox">
                <input type="checkbox" id="remember"><span class="mark"></span>Mở
              </label>
            </div>
            <div class="col-xs-6">
              <label for="remember" class="custom-checkbox">
                <input type="checkbox" id="remember"><span class="mark"></span>Tắt
              </label>
            </div>
          </div>
        </div>
        <div class="line-input m-t-10">
          <label>Tin mới</label>
          <div class="row-col">
            <div class="col-xs-6">
              <label for="remember" class="custom-checkbox">
                <input type="checkbox" id="remember"><span class="mark"></span>Mở
              </label>
            </div>
            <div class="col-xs-6">
              <label for="remember" class="custom-checkbox">
                <input type="checkbox" id="remember"><span class="mark"></span>Tắt
              </label>
            </div>
          </div>
        </div>
        <div class="action-bottom m-t-10 m-b-20"><a href="" class="link-action esta-button dis block btn-small text-center">Lưu thay đổi</a></div>
      </form>
    </div>
    <div class="footer-site">
      <div class="entry-footer">
        <div class="address">
          <div class="entry">
            <div class="title">HOCHIMINH CITY</div>
            <div class="des">Topaz 1 Building, 92 Nguyen Huu Canh, <br> Ward 22, Binh Thanh Dist., HCMC</div>
          </div>
          <div class="entry">
            <div class="title">HANOI</div>
            <div class="des">R4 Building, Royal City Residence,<br> 72A Nguyen Trai, Thanh Xuan Dist., Hanoi</div>
          </div>
          <div class="entry">
            <div><b>TEL :</b> +(84) 8 6689 3838</div>
            <div><b>HCMC :</b> +(84) 93 996 07 07</div>
            <div><b>HANOI :</b> +(84) 983 1111 02</div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="text-center">
            <div class="title">FOLLOW US</div>
            <div class="social"><a href="#" class="facebook"><img src="asset/img/icon/ic-google-w.png"></a><a href="#" class="google"><img src="asset/img/icon/ic-facebook-w.png"></a><a href="#" class="twiter"><img src="asset/img/icon/ic-twitter-w.png"></a></div>
            <div class="copyright">Copyright Esta 2015 All Rights Reserved</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>