.dropzone {
  width: 600px;
  height: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: #fff;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
  position: relative;
  margin: auto;
  margin-bottom: 20px;
}
.dropzone .dz-default.dz-message {
  display: none;
}
.dropzone .header {
  font-size: 20px;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}
.dropzone .click-area {
  border-bottom: 3px dashed #d7d7d7;
  padding-bottom: 15px;
  margin-bottom: 10px;
}
.dropzone .wrap-list {
  position: absolute;
  top: 60px;
  bottom: 0px;
  left: 0;
  right: 0;
  overflow: auto;
  padding: 0 10px 10px 15px;
}
.dropzone .dz-drag-hover:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-color: rgba(66, 133, 244, 0.7);
  z-index: 9;
}
.dropzone .dz-drag-hover:after {
  content: "Thả hình ảnh vào đây";
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  z-index: 9;
  width: 170px;
  height: 40px;
  font-size: 15px;
  text-align: center;
  line-height: 40px;
}
.dropzone .dz-preview {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 10px;
}
.dropzone .dz-preview .dz-filename {
  display: none;
}
.dropzone .dz-preview .dz-size {
  position: absolute;
}
.dropzone .dz-preview .thumbnail-img {
  border: 1px solid #d7d7d7;
  float: left;
  width: 120px;
  overflow: hidden;
  position: relative;
  max-height: 100px;
}
.dropzone .dz-preview .thumbnail-img img {
  max-width: 100%;
}
.dropzone .dz-preview .input-textarea {
  padding-left: 130px;
}
.dropzone .dz-preview .input-textarea textarea {
  height: 70px;
  margin-bottom: 5px;
}
.dropzone .dz-preview .dz-progress {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.dropzone .dz-preview .dz-progress .dz-upload {
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 10px;
  background-color: #4285f4;
  transition: all 0.5s;
}
body,
html {
  min-height: 100%;
  position: relative;
  background-color: #ececec;
}
