.container {
  width: 940px;
}
.block-map {
  position: relative;
}
.block-map .mark-map {
  position: absolute;
  color: white;
  font-size: 30px;
  display: block;
  opacity: 0;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  pointer-events: none;
}
.block-map .mark-map.active {
  opacity: 1;
}
#map-tag {
  position: relative;
}
