
<div class="container">
  <form>
    <div class="item">
      <div class="dropdown custom-select">
        <input type="hidden" name="type-project"/>
        <button type="button" id="type-project" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Buy</span><span class="arrow"></span></button>
        <ul aria-labelledby="type-project" class="dropdown-menu">
          <li><a href="" data-value="1">Buy</a></li>
          <li><a href="" data-value="2">Any</a></li>
          <li><a href="" data-value="3">Buy for Living</a></li>
          <li><a href="" data-value="4">Buy for Investment</a></li>
          <li><a href="" data-value="5">Rent</a></li>
        </ul>
      </div>
    </div>
    <div class="item">
      <div class="dropdown custom-select">
        <input type="hidden" name="location"/>
        <button type="button" id="location" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Location</span><span class="arrow"></span></button>
        <ul aria-labelledby="type-project" class="dropdown-menu">
          <li><a href="" data-value="1">Any</a></li>
          <li class="has-sub"><a href="" data-value="2">HOCHIMINH CITY</a>
            <ul class="sub-select">
              <li><a href="" data-value="HCMC - Vihomes Central Park">HCMC - Vihomes Central Park</a></li>
              <li><a href="" data-value="HCMC - Vinhomes Dong Khoi">HCMC - Vinhomes Dong Khoi</a></li>
              <li><a href="" data-value="HCMC - Vinhomes Royal City">HCMC - Vinhomes Royal City</a></li>
              <li><a href="" data-value="HCMC - Vihomes Ba Son">HCMC - Vihomes Ba Son</a></li>
              <li><a href="" data-value="HCMC - Vinhomes Khanh Hoi">HCMC - Vinhomes Khanh Hoi</a></li>
              <li><a href="" data-value="HCMC - Vinhomes Can Gio">HCMC - Vinhomes Can Gio</a></li>
              <li><a href="" data-value="HCMC - Vinhomes District 9">HCMC - Vinhomes District 9</a></li>
            </ul>
          </li>
          <li class="has-sub"><a href="" data-value="3">HANOI</a>
            <ul class="sub-select">
              <li><a href="" data-value="HANOI - Vinhomes Time City Park Hill">HANOI - Vinhomes Time City Park Hill</a></li>
              <li><a href="" data-value="HANOI - Vinhomes Nguyen Chi Thanh">HANOI - Vinhomes Nguyen Chi Thanh</a></li>
              <li><a href="" data-value="HANOI - Vinhomes Riverside">HANOI - Vinhomes Riverside</a></li>
              <li><a href="" data-value="HANOI - Vinhomes Tran Duy Hung">HANOI - Vinhomes Tran Duy Hung</a></li>
              <li><a href="" data-value="HANOI - Vinhomes Cao Xa La">HANOI - Vinhomes Cao Xa La</a></li>
              <li><a href="" data-value="HANOI - Vinhomes Green City">HANOI - Vinhomes Green City</a></li>
              <li><a href="" data-value="HANOI - Vinhomes Lieu Giai">HANOI - Vinhomes Lieu Giai</a></li>
            </ul>
          </li>
          <li class="has-sub"><a href="" data-value="4">HAI PHONG</a>
            <ul class="sub-select">
              <li><a href="" data-value="HAI PHONG - Vincom Hai Phong">HAI PHONG - Vincom Hai Phong</a></li>
              <li><a href="" data-value="HAI PHONG - Vinhomes Riverside">HAI PHONG - Vinhomes Riverside</a></li>
            </ul>
          </li>
          <li><a href="" data-value="5">HA TINH - Vinhomes Ha Tinh</a></li>
          <li><a href="" data-value="6">BAC NINH - Vinhome Bac Ninh</a></li>
          <li><a href="" data-value="7">HA NAM - Vincom Ha Nam</a></li>
          <li><a href="" data-value="8">NAM DINH - Vincom Nam Dinh</a></li>
          <li><a href="" data-value="9">THAI BINH - Vincom Thai Binh</a></li>
          <li><a href="" data-value="10">LAO CAI - Vincom Lao Cai</a></li>
          <li><a href="" data-value="11">YEN BAI - Vincom Yen Bai</a></li>
          <li><a href="" data-value="12">HAI DUONG - Vincom Hai Duong</a></li>
          <li><a href="" data-value="13">QUANG NINH - Eco Villas Quang Ninh</a></li>
          <li class="has-sub"><a href="" data-value="14">DANANG</a>
            <ul class="sub-select">
              <li><a href="" data-value="DANANG - Vinpearl Danang">DANANG - Vinpearl Danang</a></li>
              <li><a href="" data-value="DANANG - Vinpearl Danang">DANANG - Vinpearl Danang</a></li>
            </ul>
          </li>
          <li><a href="" data-value="15">KHANH HOA</a></li>
          <li><a href="" data-value="16">KIEN GIANG - Vinpearl Phu Quoc</a></li>
        </ul>
      </div>
    </div>
    <div class="item">
      <div class="dropdown custom-select">
        <input type="hidden" name="adults"/>
        <button type="button" id="adults" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Adults</span><span class="arrow"></span></button>
        <ul aria-labelledby="type-project" class="dropdown-menu">
          <li><a href="" data-value="0">Any</a></li>
          <li><a href="" data-value="1">1 adults</a></li>
          <li><a href="" data-value="3">3 adults</a></li>
          <li><a href="" data-value="5">5 adults</a></li>
        </ul>
      </div>
    </div>
    <div class="item">
      <div class="dropdown custom-select">
        <input type="hidden" name="children"/>
        <button type="button" id="children" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Children</span><span class="arrow"></span></button>
        <ul aria-labelledby="type-project" class="dropdown-menu">
          <li><a href="" data-value="0">Any</a></li>
          <li><a href="" data-value="1">1 children</a></li>
          <li><a href="" data-value="3">3 children</a></li>
          <li><a href="" data-value="5">5 children</a></li>
        </ul>
      </div>
    </div>
    <div class="item">
      <div class="dropdown custom-select">
        <input type="hidden" name="price"/>
        <button type="button" id="price" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Price</span><span class="arrow"></span></button>
        <ul aria-labelledby="type-project" class="dropdown-menu">
          <li><a href="" data-value="1">Any</a></li>
          <li><a href="" data-value="2">&lt; $200,000</a></li>
          <li><a href="" data-value="3">$200,000 - $300,000</a></li>
          <li><a href="" data-value="4">$300,000 - $400,000</a></li>
          <li><a href="" data-value="5">$400,000 - $500,000</a></li>
          <li><a href="" data-value="6">$500,000 - $600,000</a></li>
          <li><a href="" data-value="7">$600,000 - $700,000</a></li>
          <li><a href="" data-value="8">$700,000 - $800,000</a></li>
          <li><a href="" data-value="9">$900,000 - $1,000,000</a></li>
          <li><a href="" data-value="10">&gt; $1,000,0000</a></li>
        </ul>
      </div>
    </div>
    <div class="item action-submit">
      <button type="submit" class="esta-button">Search</button>
    </div>
    <div class="clearfix"></div>
  </form>
</div>