
<div class="block-info-popup"><span class="close"></span>
  <h2 class="title-block">APARTMENT A7-88</h2>
  <div class="block-quick-info">
    <div class="row">
      <div class="col-xs-6">
        <h4 class="title">Overview</h4>
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-floor-black.png"/></span>Floor 7st</div>
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-orientation-black.png"/></span>South West</div>
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-sea-view-black.png"/></span>Sea view</div>
      </div>
      <div class="col-xs-6">
        <div class="price">
          <div class="line-icon big"><span class="icon"><img src="asset/img/icon/ic-dola.png"/></span><b>300,000</b></div>
        </div>
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-floor-black.png"/></span>40m<sup>2</sup></div>
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-orientation-black.png"/></span>1 bedroom</div>
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-sea-view-black.png"/></span>1 bathroom</div>
      </div>
    </div>
    <hr/>
    <div class="wrap-slider-popup">
      <div class="flexslider slider-popup">
        <ul class="slides">
          <li><a href=""><img src="asset/img/data-example/other-pro1.png"/></a></li>
          <li><a href=""><img src="asset/img/data-example/other-pro2.png"/></a></li>
          <li><a href=""><img src="asset/img/data-example/other-pro3.png"/></a></li>
          <li><a href=""><img src="asset/img/data-example/other-pro1.png"/></a></li>
          <li><a href=""><img src="asset/img/data-example/other-pro2.png"/></a></li>
          <li><a href=""><img src="asset/img/data-example/other-pro3.png"/></a></li>
          <li><a href=""><img src="asset/img/data-example/other-pro1.png"/></a></li>
        </ul>
      </div>
    </div>
    <div class="des-quick">
      <div class="entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vero dolorem quia accusantium vel vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vero dolorem quia accusantium vel vitae.</div>
      <div class="more-link"><a class="link"> [+More]</a></div>
    </div>
  </div>
</div>
