
<div class="popup-map">
  <h3 class="title">VINHOMES CENTRAL PARK > BLOCK A<span class="close"></span></h3>
  <div class="entry">
    <div class="row border">
      <div class="col-left">
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-floor-black.png" alt=""/></span><b>Floor</b>: 36</div>
      </div>
      <div class="col-right">
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-orientation-black.png" alt=""/></span><b>South East</b></div>
      </div>
    </div>
    <div class="row border">
      <div class="col-left">
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-floor-black.png" alt=""/></span><b>Apartments</b>: 360</div>
      </div>
      <div class="col-right">
        <div class="line-icon group-text"><span class="icon"></span><b>Available: 237 <br /></b><b>Processing: 100 <br /></b><b>Sold: 23</b></div>
      </div>
    </div>
    <div class="row border view">
      <div class="col-left">
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-view-black.png" alt=""/></span><b>Views:</b></div>
      </div>
      <div class="col-right">
        <div class="group-line-icon">
          <div class="line-icon"><span class="icon"><img src="asset/img/icon/view/ic_City View_20px.png"/></span>City view</div>
          <div class="line-icon"><span class="icon"><img src="asset/img/icon/view/ic_Garden View_20px.png"/></span>Garden view</div>
          <div class="line-icon"><span class="icon"><img src="asset/img/icon/view/ic_Park View_20px.png"/></span>Park view</div>
          <div class="line-icon"><span class="icon"><img src="asset/img/icon/view/ic_Swimming Pool View_20px.png"/></span>Pool view</div>
        </div>
      </div>
    </div>
    <div class="row border">
      <div class="col-left">
        <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-dola.png" width="10px" alt=""/></span><b>Price:</b></div>
      </div>
      <div class="col-right">
        <div class="line-icon group-text"><b>Floor 1-10: &#160</b>$100,000 - $200,000 <br /><b>Floor 11-25: &#160</b>$200,000 - $500,000 <br /><b>Floor 26-36: &#160</b>$500,000 - $1,000,000</div>
      </div>
    </div>
    <div class="link-botom"><a class="link">Xem thêm</a></div>
  </div>
</div>