
<li class="col-xs-3 item">
  <div class="entry"><img src="asset/img/data-example/project-small1.png" alt=""/><a href="" class="caption">
      <h4 class="title">SWIMMING POOL</h4>
      <div class="des">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing eliptor
      </div></a></div>
</li>
<li class="col-xs-3 item">
  <div class="entry"><img src="asset/img/data-example/project-small2.png" alt=""/><a href="" class="caption">
      <h4 class="title">SWIMMING POOL</h4>
      <div class="des">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing eliptor
      </div></a></div>
</li>
<li class="col-xs-3 item">
  <div class="entry"><img src="asset/img/data-example/project-small3.png" alt=""/><a href="" class="caption">
      <h4 class="title">SWIMMING POOL</h4>
      <div class="des">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing eliptor
      </div></a></div>
</li>
<li class="col-xs-3 item">
  <div class="entry"><img src="asset/img/data-example/project-small4.png" alt=""/><a href="" class="caption">
      <h4 class="title">SWIMMING POOL</h4>
      <div class="des">
        Lorem ipsum dolor sit amet,
        consectetur adipiscing eliptor
      </div></a></div>
</li>