<!DOCTYPE HTML>
<html>
  <title>Trang chủ</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900">
  <link rel="stylesheet" href="asset/css/style.css">
  <script type="text/javascript" src="asset/js/jquery.js"></script>
  <script type="text/javascript" src="asset/js/bootstrap.js"></script>
  <script type="text/javascript" src="asset/js/jquery.mCustomScrollbar.concat.min.js"></script>
  <script type="text/javascript" src="asset/js/jquery.flexslider-min.js"></script>
  <script type="text/javascript" src="asset/js/apartment.js"></script>
  <script type="text/javascript" src="asset/js/global.js"></script>
  <body>
    <div class="top-header">
      <div class="container">
        <div class="pull-left item-dropdown">
          <div class="dropdown custom-select menu">
            <input type="hidden" name="en"/>
            <button type="button" id="en" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">ENG</span><span class="arrow"></span></button>
            <ul aria-labelledby="type-project" class="dropdown-menu">
              <li><a href="" data-value="en">ENG</a></li>
              <li><a href="" data-value="vi">VI</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-left item-dropdown">
          <div class="dropdown custom-select menu">
            <input type="hidden" name="vnd"/>
            <button type="button" id="vnd" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">VND</span><span class="arrow"></span></button>
            <ul aria-labelledby="type-project" class="dropdown-menu">
              <li><a href="" data-value="usd">USD</a></li>
              <li><a href="" data-value="vnd">VND</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right item-dropdown login"><a href="" data-toggle="modal" data-target="#login">Sign In</a></div>
        <div class="pull-right item-dropdown user">
          <div class="dropdown custom-select menu">
            <input type="hidden" name="name"/>
            <button type="button" id="name" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">DAT</span><span class="arrow"></span></button>
            <ul aria-labelledby="type-project" class="dropdown-menu">
              <li><a href="" data-value="1">Basic Info</a></li>
              <li><a href="" data-value="2">Purchased Properties</a></li>
              <li><a href="" data-value="3">Notifications</a></li>
              <li><a href="" data-value="4">Save homes</a></li>
              <li><a href="" data-value="6">Settings</a></li>
              <li><a href="" data-value="7">Sign Out</a></li>
            </ul>
          </div>
        </div>
        <div class="pull-right item-dropdown"><a class="notify"><span class="icon-notify icon"></span><span class="count">3</span></a></div>
        <div class="pull-right item-dropdown"><a class="notify"><span class="icon-home icon"></span><span class="count">3</span></a></div>
      </div>
    </div>
    <div class="header header-site">
      <div class="container">
        <div class="logo pull-left"><a><img src="asset/img/logo.png" alt=""></a></div>
        <div class="main-menu pull-right">
          <div class="wrap-menu">
            <ul class="menu">
              <li><a href="" class="active">Project</a></li>
              <li><a href="">Buy</a></li>
              <li><a href="">Rent</a></li>
              <li><a href="">EXTRA SERVICE</a></li>
              <li><a href="">FIND AGENT</a></li>
              <li><a href="">NEWS</a></li>
              <li><a href="">MORE</a>
                <ul class="sub-menu">
                  <li><a href="">Project</a></li>
                  <li><a href="">Buy</a></li>
                  <li><a href="">Rent</a></li>
                  <li><a href="">Extra Service</a></li>
                  <li><a href="">Find Agent</a></li>
                  <li><a href="">News</a></li>
                  <li><a href="">More</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <div class="container m-t-30 m-b-30">
      <div class="row">
        <div class="col-xs-3">
          <div class="entry-sidebar">
            <div class="content-block sidebar-user">
              <div class="avatar"><img src="asset/img/data-example/avatar.png"></div>
              <div class="username">DINH MANH C</div>
              <div class="type-user">User</div>
              <ul class="menu-user list-unstyled">
                <li><a href="">Basic Info</a></li>
                <li><a href="">Purchased Properties</a></li>
                <li><a href="">Saved Homes</a></li>
                <li><a href="">Saved Searchs</a></li>
                <li><a href="">Messages</a></li>
                <li><a href="" class="active">Settings</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-xs-9 single-user">
          <div class="breadcrumbs">
            <div class="container"><a href="">USER</a><span class="symbol">></span><a href="">PURCHASED PROPERTIES</a><span class="symbol">></span><a href="">KIEN GIANG</a><span class="symbol">></span><a href="">VINPEARL PREMIUM PHU QUOC</a><span class="symbol">></span><a href="" class="current">A4-07</a>
            </div>
          </div>
          <h1 class="title-block">BEACH VILLA A4-07</h1>
          <div class="block-view-map">
            <div class="header"><a href="" class="line-icon pull-left active"><span class="icon"><img src="asset/img/ic-view-method/ic_3D furniture_red_20px-01.png"></span><b>3D Furniture</b></a><a href="" class="line-icon pull-left"><span class="icon"><img src="asset/img/ic-view-method/ic_building map_20px-03.png"></span><b>Building view</b></a><a href="" class="line-icon pull-left"><span class="icon"><img src="asset/img/ic-view-method/ic_Plan View_20px.png"></span><b>Plan map</b></a>
              <div class="clearfix"></div>
            </div>
            <div class="body-slider">
              <div class="apartment-slider">
                <div class="wrap-slider-big">
                  <div class="price">$ 850,000</div>
                  <div class="caption">
                    <div class="pull-left">
                      <label id="modern" class="line active"><span class="text">Modern</span><span class="mark"></span><span class="price-item">$ 1,500-$ 2,500</span></label>
                      <label id="contemporaty" class="line"><span class="text">Contemporaty</span><span class="mark"></span><span class="price-item">$ 1,500-$ 2,500</span></label>
                      <label id="classic" class="line"><span class="text">Classic</span><span class="mark"></span><span class="price-item">$ 1,500-$ 2,500</span></label>
                    </div>
                    <div class="pull-right">
                      <div class="info-contact">
                        <div class="image-logo"><img src="http://placehold.it/80"></div>
                        <div class="info">
                          <p class="text">Furnished by <br><b>Furniture Company A</b></p><a>Click here to contact >></a>
                        </div>
                      </div>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div id="slider" class="flexslider">
                    <ul class="slides">
                      <li><span class="entry"><img src="asset/img/data-example/apartment1.png"></span></li>
                      <li><span class="entry"><img src="asset/img/data-example/apartment2.png"></span></li>
                      <li><span class="entry"><img src="asset/img/data-example/apartment3.png"></span></li>
                      <li><span class="entry"><img src="asset/img/data-example/apartment4.png"></span></li>
                      <li><span class="entry"><img src="asset/img/data-example/apartment5.png"></span></li>
                      <li><span class="entry"><img src="asset/img/data-example/apartment6.png"></span></li>
                      <li><span class="entry"><img src="asset/img/data-example/apartment7.png"></span></li>
                    </ul>
                  </div>
                </div>
                <div id="carousel" class="flexslider">
                  <ul class="slides">
                    <li><span class="entry"><img src="asset/img/data-example/apartment1.png"></span></li>
                    <li><span class="entry"><img src="asset/img/data-example/apartment2.png"></span></li>
                    <li><span class="entry"><img src="asset/img/data-example/apartment3.png"></span></li>
                    <li><span class="entry"><img src="asset/img/data-example/apartment4.png"></span></li>
                    <li><span class="entry"><img src="asset/img/data-example/apartment5.png"></span></li>
                    <li><span class="entry"><img src="asset/img/data-example/apartment6.png"></span></li>
                    <li><span class="entry"><img src="asset/img/data-example/apartment7.png"></span></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="apartment-detail">
            <div class="m-t-60"></div>
            <div class="title-block-apartment">Overview</div>
            <div class="entry-content p-b-4">
              <div class="row layout-3">
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>South East</b></div>
                </div>
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>43.91 ha</b></div>
                </div>
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>13,000 m<sup>2</sup></b></div>
                </div>
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>20 blocks</b></div>
                </div>
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>Apartments: 360</b></div>
                </div>
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>Available: 237</b></div>
                </div>
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>Processing: 100</b></div>
                </div>
                <div class="col-xs-4">
                  <div class="line-icon p"><span class="icon"><img src="asset/img/icon/ic-security.png"></span><b>Sold: 23</b></div>
                </div>
              </div>
              <div class="description">
                <div class="short">Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...</div>
                <div class="long">
                  Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
                  Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
                  Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
                  Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...
                </div>
                <div class="more-link"><a class="link"> [+More]</a></div>
              </div>
            </div>
            <div class="entry-content n-p-t p-b-4">
              <h3 class="title-form">Building Progress</h3>
              <div class="progress-bar-custom">
                <div class="title-progress">4/6 months</div>
                <div class="progress">
                  <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%" class="progress-bar"><span class="text">60%</span></div><span class="text-parent">100%</span>
                </div>
              </div>
              <div class="des">
                Starting day: 01/05/2015 <br>
                Expected completion time: 1/06/2016
              </div>
              <div class="m-t-50"></div>
              <h3 class="title-form">Payment Progress</h3>
              <div class="progress-bar-custom">
                <div class="title-progress">$200,000/$300.000</div>
                <div class="progress">
                  <div role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%" class="progress-bar"><span class="text">60%</span></div><span class="text-parent">100%</span>
                </div>
              </div>
              <div class="des">
                Starting day: 01/05/2015 <br>
                Expected completion time: 1/06/2016
              </div>
            </div>
            <div class="entry-content n-p-t">
              <h3 class="title-form">My Agent</h3>
              <div class="block-user-info">
                <div class="avatar"><img src="asset/img/data-example/avatar.png" alt=""></div>
                <div class="summary">
                  <div class="entry">
                    <h2 class="name">DINH MANH C</h2>
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="intro-agent">
                          <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-mail.png"></span>agent12345@gmail.com</div>
                          <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-phone.png"></span>+(84) 92 22 22 222</div>
                          <div class="line-icon"><span class="icon"><img src="asset/img/icon/ic-home-black.png"></span>20 Recent Sales</div>
                        </div>
                      </div>
                      <div class="col-xs-6"><b class="title text-danger">Professional (5 years experience)</b>
                        <div class="des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. amet, consectetur adipiscing elit.</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-site">
      <div class="container">
        <div class="row address">
          <div class="col-xs-4">
            <div class="entry">
              <div class="title">HOCHIMINH CITY</div>
              <div class="des">Topaz 1 Building, 92 Nguyen Huu Canh, Ward 22, Binh Thanh Dist., HCMC</div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="entry">
              <div class="title">HANOI</div>
              <div class="des">R4 Building, Royal City Residence, 72A Nguyen Trai, Thanh Xuan Dist., Hanoi</div>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="entry phone">
              <div><b>TEL :</b> +(84) 8 6689 3838</div>
              <div><b>HCMC :</b> +(84) 93 996 07 07</div>
              <div><b>HANOI :</b> +(84) 983 1111 02</div>
            </div>
          </div>
        </div>
        <div class="footer-bottom">
          <div class="text-center">
            <div class="title">folow us</div>
            <div class="social"><a href="#" class="facebook"><img src="asset/img/icon/ic-facebook.png"></a><a href="#" class="google"><img src="asset/img/icon/ic-google.png"></a><a href="#" class="twiter"><img src="asset/img/icon/ic-twiter.png"></a></div>
            <div class="copyright">Copyright Esta 2015 All Rights Reserved</div>
          </div>
        </div>
      </div>
    </div>
    <div id="logup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade model-custom">
      <div role="document" class="modal-dialog">
        <div style="width: 650px" class="modal-content"><span aria-hidden="true" data-dismiss="modal" class="close-popup"></span>
          <div class="modal-body">
            <h3 class="title-model">SIGN UP</h3>
            <form id="form-register" class="form-horizontal custom-from">
              <div class="row-type-register">
                <label for="agent" class="button-esta pull-left">
                  <input type="radio" checked name="type_user" value="agent" id="agent"><span class="mark dis esta-button btn"> AGENT</span>
                </label><span class="or">Or</span>
                <label for="user" class="button-esta pull-right">
                  <input type="radio" name="type_user" value="user" id="user"><span class="mark dis esta-button btn"> USER</span>
                </label>
                <div class="clearfix"></div>
              </div>
              <div class="form-block">
                <div class="form-group has-error">
                  <label for="frist-name" class="col-xs-2 control-label">First name</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder=" * This info can't be blank" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Last name</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder="Last name" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Password</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder="Password" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Birthday</label>
                  <div class="col-xs-10">
                    <div class="row">
                      <div class="col-xs-4">
                        <div class="dropdown custom-select">
                          <input type="hidden" id="undefined" name=""/>
                          <button type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Mounth</span><span class="arrow"></span></button>
                          <ul aria-labelledby="type-project" class="dropdown-menu">
                            <li><a href="" data-value="0">0</a></li>
                            <li><a href="" data-value="1">1</a></li>
                            <li><a href="" data-value="2">2</a></li>
                            <li><a href="" data-value="3">3</a></li>
                            <li><a href="" data-value="4">4</a></li>
                            <li><a href="" data-value="5">5</a></li>
                            <li><a href="" data-value="6">6</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="dropdown custom-select">
                          <input type="hidden" id="undefined" name=""/>
                          <button type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Day</span><span class="arrow"></span></button>
                          <ul aria-labelledby="type-project" class="dropdown-menu">
                            <li><a href="" data-value="0">0</a></li>
                            <li><a href="" data-value="1">1</a></li>
                            <li><a href="" data-value="2">2</a></li>
                            <li><a href="" data-value="3">3</a></li>
                            <li><a href="" data-value="4">4</a></li>
                            <li><a href="" data-value="5">5</a></li>
                            <li><a href="" data-value="6">6</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xs-4">
                        <div class="dropdown custom-select">
                          <input type="hidden" id="undefined" name=""/>
                          <button type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Year</span><span class="arrow"></span></button>
                          <ul aria-labelledby="type-project" class="dropdown-menu">
                            <li><a href="" data-value="0">1990</a></li>
                            <li><a href="" data-value="1">1992</a></li>
                            <li><a href="" data-value="2">1994</a></li>
                            <li><a href="" data-value="3">1996</a></li>
                            <li><a href="" data-value="4">1998</a></li>
                            <li><a href="" data-value="5">2000</a></li>
                            <li><a href="" data-value="6">2002</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Email</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder="Email" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Email</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder="Email" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Address</label>
                  <div class="col-xs-10">
                    <div class="row">
                      <div class="col-xs-6">
                        <div class="dropdown custom-select">
                          <input type="hidden" id="province" name=""/>
                          <button type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Province</span><span class="arrow"></span></button>
                          <ul aria-labelledby="type-project" class="dropdown-menu">
                            <li><a href="" data-value="0">Hồ Chí Minh</a></li>
                            <li><a href="" data-value="1">Hà Nội</a></li>
                            <li><a href="" data-value="2">Hải Phòng</a></li>
                            <li><a href="" data-value="3">Ninh Thuận</a></li>
                            <li><a href="" data-value="4">Khánh Hòa</a></li>
                            <li><a href="" data-value="5">Bình Thuận</a></li>
                            <li><a href="" data-value="6">Tiền Giang</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="col-xs-6">
                        <div class="dropdown custom-select">
                          <input type="hidden" id="dictricts" name=""/>
                          <button type="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="btn btn-default btn-block dropdown-toggle"><span class="text">Dictricts</span><span class="arrow"></span></button>
                          <ul aria-labelledby="type-project" class="dropdown-menu">
                            <li><a href="" data-value="0">0</a></li>
                            <li><a href="" data-value="1">1</a></li>
                            <li><a href="" data-value="2">2</a></li>
                            <li><a href="" data-value="3">3</a></li>
                            <li><a href="" data-value="4">4</a></li>
                            <li><a href="" data-value="5">5</a></li>
                            <li><a href="" data-value="6">6</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Country</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder="Country" class="form-control">
                  </div>
                </div>
                <div class="form-group text-right">
                  <div class="col-xs-12">
                    <label for="company" class="custom-checkbox">
                      <input type="radio" name="jod" id="company"/><span class="mark"></span><span class="text">Company</span>
                    </label>
                    <label for="freelancer" class="custom-checkbox">
                      <input type="radio" name="jod" id="freelancer"/><span class="mark"></span><span class="text">Freelancer</span>
                    </label>
                  </div>
                </div>
                <div class="form-group accept-bottom">
                  <label for="frist-name" class="col-xs-2 control-label"></label>
                  <div class="col-xs-10">
                    <label for="ok" class="custom-checkbox">
                      <input type="checkbox" name="ok" id="ok"/><span class="mark"></span><span class="text">I accept ESTA's Terms of Use and Privacy Policy.</span>
                    </label>
                  </div>
                </div>
                <div class="submit-button text-center">
                  <button type="submit" class="esta-button btn medium">Sign up</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade model-custom">
      <div role="document" class="modal-dialog">
        <div style="width: 650px" class="modal-content"><span aria-hidden="true" data-dismiss="modal" class="close-popup"></span>
          <div class="modal-body">
            <h3 class="title-model">SIGN IN</h3>
            <form class="form-horizontal custom-from">
              <div class="form-block">
                <div class="form-group has-error">
                  <label for="frist-name" class="col-xs-2 control-label">First name</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder=" * This info can't be blank" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label for="frist-name" class="col-xs-2 control-label">Password</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder="Password" class="form-control">
                  </div>
                </div>
                <div class="form-group text-left checkbox-left">
                  <div class="col-xs-10 col-xs-push-2">
                    <label for="company" class="custom-checkbox">
                      <input type="radio" name="jod" id="company"/><span class="mark"></span><span class="text">Remember me</span>
                    </label><a href="" data-toggle="modal" data-target="#forgot" aria-hidden="true" data-dismiss="modal" class="text-danger link-forgot-pass">Forgot password</a>
                  </div>
                </div>
                <div class="form-group submit-button text-center">
                  <button type="submit" class="esta-button btn medium">Sign in</button>
                </div>
                <div class="text-center">Don't have an account?<a href="" data-toggle="modal" data-target="#logup" aria-hidden="true" data-dismiss="modal" class="text-danger"><b> Sign up</b></a></div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div id="forgot" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" class="modal fade model-custom">
      <div role="document" class="modal-dialog">
        <div style="width: 650px" class="modal-content"><span aria-hidden="true" data-dismiss="modal" class="close-popup"></span>
          <div class="modal-body">
            <form id="reset_pass" class="form-horizontal custom-from">
              <div class="intro-form text-center">
                <h3 class="title-center">Reset your Password</h3>
                <div class="text-intro">Enter the email address associated with your account, and we'll email you a link to reset your password.</div>
              </div>
              <div class="form-block">
                <div class="form-group has-error">
                  <label for="frist-name" class="col-xs-2 control-label">Email</label>
                  <div class="col-xs-10">
                    <input type="email" id="frist-name" placeholder=" * This info can't be blank" class="form-control">
                  </div>
                </div>
                <div class="form-group submit-button text-center">
                  <button type="submit" class="esta-button btn medium">Send reset link</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>