li.col-xs-3.item: div.entry
    img(src="asset/img/data-example/project-small1.png", alt="")
    a(href="").caption
        h4.title SWIMMING POOL
        div.des
            |Lorem ipsum dolor sit amet,
            |consectetur adipiscing eliptor
li.col-xs-3.item: div.entry
    img(src="asset/img/data-example/project-small2.png", alt="")
    a(href="").caption
        h4.title SWIMMING POOL
        div.des
            |Lorem ipsum dolor sit amet,
            |consectetur adipiscing eliptor
li.col-xs-3.item: div.entry
    img(src="asset/img/data-example/project-small3.png", alt="")
    a(href="").caption
        h4.title SWIMMING POOL
        div.des
            |Lorem ipsum dolor sit amet,
            |consectetur adipiscing eliptor
li.col-xs-3.item: div.entry
    img(src="asset/img/data-example/project-small4.png", alt="")
    a(href="").caption
        h4.title SWIMMING POOL
        div.des
            |Lorem ipsum dolor sit amet,
            |consectetur adipiscing eliptor