div.block-info-popup
    span.close
    h2.title-block APARTMENT A7-88
    div.block-quick-info
        div.row
            div.col-xs-6
                h4.title Overview
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-floor-black.png")
                    |Floor 7st
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-orientation-black.png")
                    |South West
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-sea-view-black.png")
                    |Sea view
            div.col-xs-6
                div.price
                    div.line-icon.big
                        span.icon: img(src="asset/img/icon/ic-dola.png")
                        |<b>300,000</b>
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-floor-black.png")
                    |40m<sup>2</sup>
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-orientation-black.png")
                    |1 bedroom
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-sea-view-black.png")
                    |1 bathroom
        hr
        div.wrap-slider-popup
            div.flexslider.slider-popup
                ul.slides
                    li: a(href="")
                        img(src="asset/img/data-example/other-pro1.png")
                    li: a(href="")
                        img(src="asset/img/data-example/other-pro2.png")
                    li: a(href="")
                        img(src="asset/img/data-example/other-pro3.png")
                    li: a(href="")
                        img(src="asset/img/data-example/other-pro1.png")
                    li: a(href="")
                        img(src="asset/img/data-example/other-pro2.png")
                    li: a(href="")
                        img(src="asset/img/data-example/other-pro3.png")
                    li: a(href="")
                        img(src="asset/img/data-example/other-pro1.png")
        div.des-quick
            .entry
                |Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vero dolorem quia accusantium vel vitae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus vero dolorem quia accusantium vel vitae.
            div.more-link
                a.link  [+More]