extends user_template.jade

block js_header
    script(type="text/javascript", src="asset/js/news.js")
 
block content
    div.row-section.odd
        div.container
            h2.title-block HOT NEWS
            div.list-style3.new1
                div.navigation
                    div.title: span.text How to buy a home without a 20% down payment
                    div.title: span.text Vibrant Nha Trang real estate market
                    div.title: span.text Was my home a good investment?
                    div.title: span.text You probably can't afford to live near good schools
                    div.title: span.text Not buying a home was my smartest financial move
                    
                div.entry
                    .item
                        div.thumbnail
                            div.img(style="background-image: url(asset/img/data-example/home1.png)")
                        div.caption
                            div.title How to buy a home without a 20% down payment
                    .item
                        div.thumbnail
                            div.img(style="background-image: url(asset/img/data-example/home1.png)")
                        div.caption
                            div.title Vibrant Nha Trang real estate market
                    .item
                        div.thumbnail
                            div.img(style="background-image: url(asset/img/data-example/home1.png)")
                        div.caption
                            div.title Was my home a good investment?
                    .item
                        div.thumbnail
                            div.img(style="background-image: url(asset/img/data-example/home1.png)")
                        div.caption
                            div.title You probably can't afford to live near good schools
                    .item
                        div.thumbnail
                            div.img(style="background-image: url(asset/img/data-example/home1.png)")
                        div.caption
                            div.title Not buying a home was my smartest financial move
    div.row-section
        div.container
            h2.title-block POPULAR NEWS
            div.list-style4
                div.entry
                    .item
                        .thumbnail
                            .img(style="background-image: url(asset/img/data-example/best-view1.png)")
                        .summary
                            h3.title The most expensive housing market is...
                            div.entry
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, pharetra lectus hendrerit, pretium mauris. Duis lacinia tortor a urna accumsan, eget egestas felis fermentum.
                    .item
                        .thumbnail
                            .img(style="background-image: url(asset/img/data-example/best-view2.png)")
                        .summary
                            h3.title Real estate today: Older buyers, more bathrooms
                            div.entry
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, pharetra lectus hendrerit, pretium mauris...
                    .item
                        .thumbnail
                            .img(style="background-image: url(asset/img/data-example/best-view3.png)")
                        .summary
                            h3.title Buy (or sell) your home ... without a real estate agent
                            div.entry
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, pharetra lectus hendrerit, pretium mauris...
                   .item
                        .thumbnail
                            .img(style="background-image: url(asset/img/data-example/best-view4.png)")
                        .summary
                            h3.title Cities with biggest rent hikes
                            div.entry
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, pharetra lectus hendrerit, pretium mauris...
                    .item
                        .thumbnail
                            .img(style="background-image: url(asset/img/data-example/best-view5.png)")
                        .summary
                            h3.title Where Millennials are buying homes
                            div.entry
                                |Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sollicitudin arcu lacus. Curabitur eget est mollis, pharetra lectus hendrerit, pretium mauris...

                div.link-more.text-right
                    a(href="", class="link") See more
            
            
    div.row-section.odd
        div.container
            h2.title-block REAL ESTATE MARKET
            div.list-style4
                .row
                    .entry-left.col-xs-6
                        .row
                            .col-xs-6
                                .wrap-content
                                    .thumbnail
                                        .img(style="background-image: url(asset/img/data-example/project-small2.png)")
                                    h3.title Vietnam blocks sale of HCMC-sized ranch
                                    div.des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam...
                            .col-xs-6
                                .wrap-content
                                    .thumbnail
                                        .img(style="background-image: url(asset/img/data-example/project-small4.png)")
                                    h3.title Vietnam blocks sale of HCMC-sized ranch
                                    div.des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam...

                    .entry-right.col-xs-6
                        .entry
                            a.title How to buy a home without a 20% down payment
                            a.title See the investment tactics millionaires have been using for decades
                            a.title Top 10 things your smartphone will replace
                            a.title Google could be your next mortgage broker
                            a.title Buying a home: Buyer's guide
                        
                .link-more.text-right
                    a(href="", class="link") See more
            
    div.row-section
        div.container
            h2.title-block POLICY NEWS
            div.list-style4
                .row
                    .entry-left.col-xs-6
                        .row
                            .col-xs-6
                                .wrap-content
                                    .thumbnail
                                        .img(style="background-image: url(asset/img/data-example/under3.png)")
                                    h3.title Vietnam blocks sale of HCMC-sized ranch
                                    div.des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam...
                            .col-xs-6
                                .wrap-content
                                    .thumbnail
                                        .img(style="background-image: url(asset/img/data-example/under2.png)")
                                    h3.title Vietnam blocks sale of HCMC-sized ranch
                                    div.des Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam...

                    .entry-right.col-xs-6
                        .entry
                            a.title How to buy a home without a 20% down payment
                            a.title See the investment tactics millionaires have been using for decades
                            a.title Top 10 things your smartphone will replace
                            a.title Google could be your next mortgage broker
                            a.title Buying a home: Buyer's guide
                        
                .link-more.text-right
                    a(href="", class="link") See more
            
        