extends default.jade
include element/mixin.jade

block title
    title Search Detail

block js_header
    script(type="text/javascript", src="asset/js/jquery.flexslider-min.js")
    script(type="text/javascript", src="asset/js/search.js")

block content
    div.container.m-t-50.m-b-50
        div.row
            div.col-xs-3
                div.box-widget.n-m
                    h3.title-widget Search Details
                    div.content-widget
                        div.group-form
                            - var data = ["type-project","Buy"]
                            - var list = {1:{parent:"Buy"},2:{parent:"Any"},3:{parent:"Buy for Living"},4:{parent:"Buy for Investment"},5:{parent:"Rent"}}
                            +customSelect(data,list)
                        div.group-form
                            - var data = ["location","Location"]
                            - var sub_hcm = ["HCMC - Vihomes Central Park","HCMC - Vinhomes Dong Khoi","HCMC - Vinhomes Royal City","HCMC - Vihomes Ba Son","HCMC - Vinhomes Khanh Hoi","HCMC - Vinhomes Can Gio","HCMC - Vinhomes District 9"]
                            - var sub_hn = ["HANOI - Vinhomes Time City Park Hill","HANOI - Vinhomes Nguyen Chi Thanh","HANOI - Vinhomes Riverside","HANOI - Vinhomes Tran Duy Hung","HANOI - Vinhomes Cao Xa La","HANOI - Vinhomes Green City","HANOI - Vinhomes Lieu Giai"]
                            - var sub_hp = ["HAI PHONG - Vincom Hai Phong","HAI PHONG - Vinhomes Riverside"]
                            - var sub_dn = ["DANANG - Vinpearl Danang","DANANG - Vinpearl Danang"]
                            - var list = {1:{parent:"Any"},2:{parent:"HOCHIMINH CITY", sub: sub_hcm},3:{parent:"HANOI", sub: sub_hn},4:{parent:"HAI PHONG", sub: sub_hp},5:{parent:"HA TINH - Vinhomes Ha Tinh"},6:{parent:"BAC NINH - Vinhome Bac Ninh"},7:{parent: "HA NAM - Vincom Ha Nam"},8:{parent: "NAM DINH - Vincom Nam Dinh"},9:{parent: "THAI BINH - Vincom Thai Binh"},10:{parent: "LAO CAI - Vincom Lao Cai"},11:{parent: "YEN BAI - Vincom Yen Bai"},12:{parent: "HAI DUONG - Vincom Hai Duong"},13:{parent: "QUANG NINH - Eco Villas Quang Ninh"}, 14: {parent: "DANANG", sub: sub_dn}, 15: {parent: "KHANH HOA"}, 16: {parent: "KIEN GIANG - Vinpearl Phu Quoc"} }
                            +customSelect(data,list)
                        div.group-form
                            - var data = ["adults","Adults"]
                            - var list = {0:{parent:"Any"},1:{parent:"1 adults"},3:{parent:"2 adults"},3:{parent:"3 adults"},5:{parent:"4 adults"},5:{parent:"5 adults"}}
                            +customSelect(data,list)
                        div.group-form
                            - var data = ["children","Children"]
                            - var list = {0:{parent:"Any"},1:{parent:"1 children"},3:{parent:"2 children"},3:{parent:"3 children"},5:{parent:"4 children"},5:{parent:"5 children"}}
                            +customSelect(data,list)
                        div.group-form
                            - var data = ["price","Price"]
                            - var list = {1 : {parent: "Any"} ,2 : {parent: "< $200,000"} ,3 : {parent: "$200,000 - $300,000"} ,4 : {parent: "$300,000 - $400,000"} ,5 : {parent: "$400,000 - $500,000"} ,6 : {parent: "$500,000 - $600,000"} ,7 : {parent: "$600,000 - $700,000"} ,8 : {parent: "$700,000 - $800,000"} ,9 : {parent: "$900,000 - $1,000,000"} ,10 : {parent: "> $1,000,0000"}}
                            +customSelect(data,list)

                        .clearfix
                        div.text-center.group-form.m-t-15
                            button.btn.esta-button Search

                div.box-widget.module-search
                    h3.title-widget.no-border Filter
                    div.content-widget
                        div.title-filter
                            |Usage Purpose
                            span.arrow
                        .entry-filter.filter-multiple
                            +customCheckbox({id: 'purpose-1', text: 'Chính sách ưu đãi'})
                            +customCheckbox({id: 'purpose-2', text: 'Hot Apartments'})
                            +customCheckbox({id: 'purpose-3', text: 'Special Deals'})
                            +customCheckbox({id: 'purpose-4', text: 'New Listings'})
                            +customCheckbox({id: 'purpose-5', text: 'Dễ cho thuê'})
                            +customCheckbox({id: 'purpose-6', text: 'Dễ bán'})
                            +customCheckbox({id: 'purpose-7', text: 'Gia đình có người đau ốm'})
                            +customCheckbox({id: 'purpose-8', text: 'Kid friendly'})
                            +customCheckbox({id: 'purpose-9', text: 'Pet friendly'})
                            +customCheckbox({id: 'purpose-10', text: 'Yên tĩnh'})
                            +customCheckbox({id: 'purpose-11', text: 'Náo nhiệt'})
                            +customCheckbox({id: 'purpose-12', text: 'Nghỉ dưỡng'})
                            +customCheckbox({id: 'purpose-13', text: 'Không gian cây xanh'})
                            +customCheckbox({id: 'purpose-14', text: 'An ninh tốt'})
                            +customCheckbox({id: 'purpose-15', text: 'Gần trung tâm'})
                            +customCheckbox({id: 'purpose-16', text: 'Thuận tiện giao thông'})
                        div.title-filter
                            |Property Types
                            span.arrow

                        .entry-filter.filter-multiple
                            .filter-multiple
                                ul.list-unstyled
                                    li.parent.active
                                        div.entry-item
                                            span.icon
                                            span.text Apartment
                                        ul.sub-list.list-unstyled
                                            li: +customCheckbox({id: '1bedroom', text: '1 bedroom'})
                                            li: +customCheckbox({id: '2bedroom', text: '2 bedroom'})
                                            li: +customCheckbox({id: '3bedroom', text: '3 bedroom'})
                                            li: +customCheckbox({id: '4bedroom', text: '4 bedroom'})
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Duplex
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Corner Apartment
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Penthouse
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Studio
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Villa
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Beach Villa
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Beach House
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Detached House
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Semi-detached House
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Officetel
                                    li.parent
                                        div.entry-item
                                            span.icon
                                            span.text Smart Home
                                        ul.secondary-list.list-unstyled
                                            li
                                                +customCheckboxClose({id: 'escs', text: 'Energy Saving Control System'})
                                                ul.sub-list.list-unstyled
                                                    li: +customCheckbox({id: 'fdl', text: 'Fingerprint Door Lock'})
                                                    li: +customCheckbox({id: 'ad', text: 'Automated Drapery &'})
                                                    li: +customCheckbox({id: 'wo', text: 'Window Openers '})
                                                    li: +customCheckbox({id: 'dsf', text: 'Double Sided Fireplace'})
                                            li
                                                +customCheckboxClose({id: '_2bedroom', text: 'Entertaining Control System'})
                                                ul.sub-list.list-unstyled
                                                    li: +customCheckbox({id: 'sys1', text: 'Điều khiển TV'})
                                                    li: +customCheckbox({id: 'sys2', text: 'Điều khiển loa'})

                                            li
                                                +customCheckboxClose({id: '_3bedroom', text: 'Hệ thống kiểm soát môi trường'})
                                                ul.sub-list.list-unstyled
                                                    li: +customCheckbox({id: 'mt1', text: 'Hệ thống tưới nước sân vườn'})
                                                    li: +customCheckbox({id: 'mt2', text: 'Hệ thống đèn chiếu sáng'})
                                                    li: +customCheckbox({id: 'mt3', text: 'Auto Temperature'})
                                            li
                                                +customCheckboxClose({id: '_4bedroom', text: 'Hệ thống an ninh'})
                                                ul.sub-list.list-unstyled
                                                    li: +customCheckbox({id: 'an-ninh1', text: 'Camera an ninh tự động'})
                                                    li: +customCheckbox({id: 'an-ninh2', text: 'Hệ thống báo rò rỉ khí Gas'})
                                                    li: +customCheckbox({id: 'an-ninh3', text: 'Cảm biến nhiệt'})
                                                    li: +customCheckbox({id: 'an-ninh4', text: 'Cảm biến khói'})
                                                    li: +customCheckbox({id: 'an-ninh5', text: 'Thiết bị báo cháy nổ'})
                                                    li: +customCheckbox({id: 'an-ninh6', text: 'Dịch vụ đi kèm'})
                                                    li: +customCheckbox({id: 'an-ninh7', text: 'Hệ thống chăm sóc vật nuôi'})
                        div.title-filter
                            |Property Position
                            span.arrow
                        .entry-filter.filter-multiple
                            ul.list-unstyled
                                li.parent.active
                                    div.entry-item
                                        span.icon
                                        span.text View
                                    ul.sub-list.list-unstyled
                                        li: +customCheckbox({id: 'sea-view', text: 'Sea view'})
                                        li: +customCheckbox({id: 'river-view', text: 'River view'})
                                        li: +customCheckbox({id: 'lake-view', text: 'Lake view'})
                                        li: +customCheckbox({id: 'pool-view', text: 'Pool view'})
                                        li: +customCheckbox({id: 'park-view', text: 'Park view'})
                                        li: +customCheckbox({id: 'graden-view', text: 'Garden view'})
                                        li: +customCheckbox({id: 'golf-view', text: 'Golf view'})
                                        li: +customCheckbox({id: 'city-view', text: 'City view'})
                                        li: +customCheckbox({id: 'sunrise-view', text: 'Sunrise view'})
                                        li: +customCheckbox({id: 'sunset-view', text: 'Sunset view'})
                                li.parent.active
                                    div.entry-item
                                        span.icon
                                        span.text Auto Feng Shui
                                    ul.sub-list.list-unstyled
                                        li: div.select-field
                                            - var data = ["1990","1990"]
                                            - var list = {1992 : {parent: "1992"} ,1995 : {parent: "1995"} ,2000 : {parent: "2000"}}
                                            +customSelect(data,list)
                                        li: div.select-field
                                            - var data = ["general","General "]
                                            - var list = {1 : {parent: "Male"} ,2 : {parent: "Female"}}
                                            +customSelect(data,list)
                                li.parent.active
                                    div.entry-item
                                        span.icon
                                        span.text Orientation
                                    ul.sub-list.list-unstyled
                                        li: +customCheckbox({id: 'sea-view', text: 'Sea view'})
                                        li: +customCheckbox({id: 'East', text: 'East'})
                                        li: +customCheckbox({id: 'South-East', text: 'South East'})
                                        li: +customCheckbox({id: 'South', text: 'South'})
                                        li: +customCheckbox({id: 'South-West', text: 'South West'})
                                        li: +customCheckbox({id: 'West', text: 'West'})
                                        li: +customCheckbox({id: 'North-West', text: 'North West'})
                                        li: +customCheckbox({id: 'North', text: 'North'})
                                        li: +customCheckbox({id: 'North-East', text: 'North East'})

                                li.parent.active
                                    div.entry-item
                                        span.icon
                                        span.text Floor
                                    ul.sub-list.list-unstyled
                                        li: div.input-field
                                            input(type="text" class="esta-input")

                        div.title-filter
                            |Project Utilities
                            span.arrow
                        .entry-filter.filter-multiple
                            +customCheckbox({id: 'project-utilities-1', text: 'Span'})
                            +customCheckbox({id: 'project-utilities-2', text: 'Gym'})
                            +customCheckbox({id: 'project-utilities-3', text: 'Swimming pool'})
                            +customCheckbox({id: 'project-utilities-4', text: 'Park'})
                            +customCheckbox({id: 'project-utilities-5', text: 'Water Park'})
                            +customCheckbox({id: 'project-utilities-6', text: 'Playground'})
                            +customCheckbox({id: 'project-utilities-7', text: 'Amusement Park'})
                            +customCheckbox({id: 'project-utilities-8', text: 'Restaurant'})
                            +customCheckbox({id: 'project-utilities-9', text: 'Supermarket'})
                            +customCheckbox({id: 'project-utilities-10', text: 'Mall'})
                            +customCheckbox({id: 'project-utilities-11', text: 'Pet area'})
                            +customCheckbox({id: 'project-utilities-12', text: 'Golf Course'})
                            +customCheckbox({id: 'project-utilities-13', text: 'Tennis Court'})
                            +customCheckbox({id: 'project-utilities-14', text: 'Walking Path'})
                            +customCheckbox({id: 'project-utilities-15', text: 'Cleaning service'})
                            +customCheckbox({id: 'project-utilities-16', text: 'Maintenance service'})
                            +customCheckbox({id: 'project-utilities-17', text: 'BBQ'})
                            +customCheckbox({id: 'project-utilities-18', text: 'Unfurnished Homes'})
                            +customCheckbox({id: 'project-utilities-19', text: 'Partly Funished Homes'})
                            +customCheckbox({id: 'project-utilities-20', text: 'Fully Furnished Homes'})
                            +customCheckbox({id: 'project-utilities-21', text: 'Other Utilities'})


            div.col-xs-9
                h2.title-block.title-page-search SEARCH RESULS
                div.des-title We found <b class="text-danger"> 100 </b> properties with availability. Showing <b class="text-danger"> 1-15.</b>
                    button.btn.esta-button Save Search
                div.filter-selected Applied Filter
                    span.tag-filter item filter
                        span.close
                    span.tag-filter item filter
                        span.close
                    span.tag-filter item filter
                        span.close
                    span.tag-filter item filter
                        span.close
                    span.tag-filter item filter
                        span.close
                div.sort-wrap
                    span.text-intro Sort by
                    div.content-sort
                        div.item
                            - var data = ["15","15 results"]
                            - var list = {30:{parent:"30 results"},45:{parent:"45 results"},60:{parent:"60 results"}}
                            +customSelect(data,list)
                        div.item
                            - var data = ["1","Esta Recommened"]
                            - var list = {2:{parent:"item"}}
                            +customSelect(data,list)
                        div.item
                            - var data = ["Price","Price"]
                            - var list = {2:{parent:"item"}}
                            +customSelect(data,list)
                        div.item
                            - var data = ["project","Project Name"]
                            - var list = {2:{parent:"item"}}
                            +customSelect(data,list)
                        .clearfix

                div.result-search
                    div.wrap-list
                        div.item
                            div.thumbnail
                                .favorite.active
                                .img(style="background-image: url('asset/img/data-example/search1.png')", alt="")
                            div.summary
                                h3.title Vinhomes Times City-A7-88
                                div.address
                                    .line-icon
                                        span.icon: img(src="asset/img/icon/ic-location-small.png", alt="")
                                        |Dist. 2, HCMC
                                div.properties-entry
                                    div.row-box
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-floor-black.png", alt="")
                                                |Floor 9st
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-size-black.png", alt="")
                                                |50m2
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bed-black.png", alt="")
                                                |2 bedrooms
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-orientation-black.png", alt="")
                                                |South East
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-sea-view-black.png", alt="")
                                                |Sea view
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bath-black.png", alt="")
                                                |1 bathroom

                                div.line-icon.line-price
                                    span.icon: img(src="asset/img/icon/ic-dola.png", alt="")
                                    |300.000
                                a.esta-button.btn.link-type.pull-right More detail
                            div.clearfix
                        div.item
                            div.thumbnail
                                .favorite.active
                                .img(style="background-image: url('asset/img/data-example/search1.png')", alt="")
                            div.summary
                                h3.title Vinhomes Times City-A7-88
                                div.address
                                    .line-icon
                                        span.icon: img(src="asset/img/icon/ic-location-small.png", alt="")
                                        |Dist. 2, HCMC
                                div.properties-entry
                                    div.row-box
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-floor-black.png", alt="")
                                                |Floor 9st
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-size-black.png", alt="")
                                                |50m2
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bed-black.png", alt="")
                                                |2 bedrooms
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-orientation-black.png", alt="")
                                                |South East
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-sea-view-black.png", alt="")
                                                |Sea view
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bath-black.png", alt="")
                                                |1 bathroom

                                div.line-icon.line-price
                                    span.icon: img(src="asset/img/icon/ic-dola.png", alt="")
                                    |300.000
                                a.esta-button.btn.link-type.pull-right More detail
                            div.clearfix
                        div.banner-random
                            a(href=""): img(src="asset/img/banner/ads-banner.png", alt="")

                    div.pagination
                        .text-cout 1-15 of 1,438 Results
                        ul.list-link.list-unstyled
                            li: a.first(href="")
                            li: a.item.active(href="") 1
                            li: a.item(href="") 2
                            li: a.item(href="") 3
                            li: a.item(href="") 4
                            li: a.item(href="") 5
                            li: a.last(href="")
