extends user_template.jade
block content
    div.container.m-t-30.m-b-30
        div.row
            div.col-xs-3
                div.entry-sidebar
                    div.content-block.sidebar-user
                        div.avatar
                            img(src="asset/img/data-example/avatar.png")
                        div.username DINH MANH C
                        div.type-user User
                        ul.menu-user.list-unstyled
                            li: a(href="") Basic Info
                            li: a.active(href="") Purchased Properties
                            li: a(href="") Saved Homes
                            li: a(href="") Saved Searchs
                            li: a(href="") Messages
                            li: a(href="") Settings

            div.col-xs-9.single-user
                +breadcrumbs(['User','PURCHASED PROPERTIES'])
                h2.title-block.title-page.n-m-b PURCHASED PROPERTIES

                div.list-style2
                    div.wrap-list
                        div.item
                            div.thumbnail
                                .favorite.active
                                img(src="asset/img/data-example/search1.png", alt="")
                            div.summary
                                h3.title Vinhomes Times City-A7-88
                                    div.price.line-icon
                                        span.icon: img(src="asset/img/icon/ic-dola.png", alt="")
                                        |300.000
                                div.address
                                    .line-icon
                                        span.icon: img(src="asset/img/icon/ic-location-small.png", alt="")
                                        |Dist. 2, HCMC
                                div.properties-entry
                                    div.row-box
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-floor-black.png", alt="")
                                                |Floor 9st
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-size-black.png", alt="")
                                                |50m2
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bed-black.png", alt="")
                                                |2 bedrooms
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-orientation-black.png", alt="")
                                                |South East
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-sea-view-black.png", alt="")
                                                |Sea view
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bath-black.png", alt="")
                                                |1 bathroom


                                a.esta-button.btn More detail
                                div.block-status-progress
                                    span.text-title Paid
                                    div.progress
                                        div.progress-bar(role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 40%;")
                                            .text 40%
                                    span.text-title.build Built
                                    div.progress
                                        div.progress-bar(role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 60%;")
                                            .text 60%
                            div.clearfix
                            .settings-notify
                                i.text-label.pull-left Notifications
                                div.select.pull-left
                                    - var data = ["","On"]
                                    - var list = {0:{parent:"On"},1:{parent:"Off"}}
                                    +customSelect(data,list)
                                .clearfix
                        div.item
                            div.thumbnail
                                .favorite.active
                                img(src="asset/img/data-example/search1.png", alt="")
                            div.summary
                                h3.title Vinhomes Times City-A7-88
                                    div.price.line-icon
                                        span.icon: img(src="asset/img/icon/ic-dola.png", alt="")
                                        |300.000
                                div.address
                                    .line-icon
                                        span.icon: img(src="asset/img/icon/ic-location-small.png", alt="")
                                        |Dist. 2, HCMC
                                div.properties-entry
                                    div.row-box
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-floor-black.png", alt="")
                                                |Floor 9st
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-size-black.png", alt="")
                                                |50m2
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bed-black.png", alt="")
                                                |2 bedrooms
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-orientation-black.png", alt="")
                                                |South East
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-sea-view-black.png", alt="")
                                                |Sea view
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bath-black.png", alt="")
                                                |1 bathroom


                                a.esta-button.btn More detail
                                div.block-status-progress
                                    span.text-title Paid
                                    div.progress
                                        div.progress-bar(role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 40%;")
                                            .text 40%
                                    span.text-title.build Built
                                    div.progress
                                        div.progress-bar(role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 60%;")
                                            .text 60%
                            div.clearfix
                            .settings-notify
                                i.text-label.pull-left Notifications
                                div.select.pull-left
                                    - var data = ["","On"]
                                    - var list = {0:{parent:"On"},1:{parent:"Off"}}
                                    +customSelect(data,list)
                                .clearfix
                        div.item
                            div.thumbnail
                                .favorite.active
                                img(src="asset/img/data-example/search1.png", alt="")
                            div.summary
                                h3.title Vinhomes Times City-A7-88
                                    div.price.line-icon
                                        span.icon: img(src="asset/img/icon/ic-dola.png", alt="")
                                        |300.000
                                div.address
                                    .line-icon
                                        span.icon: img(src="asset/img/icon/ic-location-small.png", alt="")
                                        |Dist. 2, HCMC
                                div.properties-entry
                                    div.row-box
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-floor-black.png", alt="")
                                                |Floor 9st
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-size-black.png", alt="")
                                                |50m2
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bed-black.png", alt="")
                                                |2 bedrooms
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-orientation-black.png", alt="")
                                                |South East
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-sea-view-black.png", alt="")
                                                |Sea view
                                        div.col-xs-4
                                            .line-icon
                                                span.icon: img(src="asset/img/icon/ic-bath-black.png", alt="")
                                                |1 bathroom


                                a.esta-button.btn More detail
                                div.block-status-progress
                                    span.text-title Paid
                                    div.progress
                                        div.progress-bar(role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 40%;")
                                            .text 40%
                                    span.text-title.build Built
                                    div.progress
                                        div.progress-bar(role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 60%;")
                                            .text 60%
                            div.clearfix
                            .settings-notify
                                i.text-label.pull-left Notifications
                                div.select.pull-left
                                    - var data = ["","On"]
                                    - var list = {0:{parent:"On"},1:{parent:"Off"}}
                                    +customSelect(data,list)
                                .clearfix