/* colors */
body,
.main-container,
.footer,
.main-navigation,
ul.main-navigation-menu > li > ul.sub-menu,
.navigation-small ul.main-navigation-menu > li > ul.sub-menu {
  background-color: #f5f5f5;
}
.layout-boxed header,
.layout-boxed .main-container,
.layout-boxed .footer {
  border-left-color: #d9d9d9;
  border-right-color: #d9d9d9;
}
.navbar-inverse {
  background: rgba(255, 255, 255, 0.9);
  border-color: #d9d9d9;
}
/* ie8 fixes */
.ie8 .navbar-inverse {
  background: #ffffff;
}
/**/
.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .nav > li > a {
  color: #595959;
}
.navbar-inverse .navbar-brand i,
.navbar-inverse .navbar-brand:hover i {
  color: #007aff;
}
.navbar-inverse .nav > li > a {
  color: #a2a2a2;
}
.navbar-inverse .nav > li.current-user > a {
  color: #7b7b7b;
}
.navbar-inverse .nav > li.current-user > a i {
  display: inline-block;
  text-align: center;
  width: 1.25em;
  color: #007aff !important;
  font-size: 12px;
}
.navbar-inverse .nav > li:hover > a,
.navbar-inverse .nav > li:active > a {
  color: #555555;
  background: #e6e6e6;
}
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
  background: #e6e6e6;
  color: #555555;
}
.navbar-tools .dropdown-menu li .dropdown-menu-title {
  background: #e6e6e6;
  color: #000000;
}
.navbar-inverse .btn-navbar {
  background-color: #d4d4d4;
  background: -moz-linear-gradient(top, #34485e 0%, #283b52 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #34485e), color-stop(100%, #283b52));
  /* webkit */
}
.nav > li.dropdown .dropdown-toggle .badge {
  background-color: #007aff;
  color: #ffffff;
  border: none;
}
.navbar-toggle {
  background-color: #ffffff;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #808080;
}
.navbar-toggle span {
  color: #a2a2a2;
}
ul.main-navigation-menu > li a {
  border-bottom: none;
  border-top-color: #d9d9d9;
  color: #555555;
}
ul.main-navigation-menu > li a > i {
  color: #007aff;
  font-weight: normal;
}
ul.main-navigation-menu > li.active > a {
  background: #007aff !important;
  border-top: none !important;
  color: #ffffff;
}
ul.main-navigation-menu > li.active > a .selected:before {
  color: #007aff !important;
}
ul.main-navigation-menu > li.active > a i {
  color: #ffffff;
}
ul.main-navigation-menu > li.open > a,
ul.main-navigation-menu > li > a:hover,
ul.main-navigation-menu > li:hover > a {
  background-color: #e6e6e6;
}
.navigation-toggler,
.go-top {
  background-color: #e6e6e6 !important;
  color: rgba(85, 85, 85, 0.3);
}
.navigation-toggler:hover i:first-child,
.go-top:hover {
  color: #555555;
}
.navigation-toggler:hover i:last-child {
  color: rgba(85, 85, 85, 0.3);
}
.navigation-small .navigation-toggler:hover i:first-child {
  color: rgba(85, 85, 85, 0.3);
}
.navigation-small .navigation-toggler:hover i:last-child {
  color: #555555;
}
ul.main-navigation-menu li > ul.sub-menu > li.open > a,
ul.main-navigation-menu li > ul.sub-menu > li.active > a,
ul.main-navigation-menu li > ul.sub-menu > li > a:hover {
  color: #000000 !important;
  background: #e6e6e6;
}
.breadcrumb i {
  color: rgba(0, 122, 255, 0.4);
}
.breadcrumb a {
  color: #007aff;
}
.footer-fixed .footer {
  background: rgba(255, 255, 255, 0.9);
  border-top-color: #d9d9d9;
}
/* ie8 fixes */
.ie8 .footer-fixed .footer {
  background: #ffffff;
}
/**/
.footer-inner {
  color: #555555;
}
.main-content .container {
  border-left: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 767px) {
  .navbar-inverse {
    background: none !important;
  }
  .navbar-tools {
    background: rgba(255, 255, 255, 0.9);
    border-top-color: #d9d9d9;
  }
  /* ie8 fixes */
  .ie8 .navbar-tools {
    background: #ffffff;
  }
  /**/
  .navbar-header {
    background-color: #ffffff;
  }
}
