extends master_template.jade
include mixin/mixin.jade

block js_header
    script(type="text/javascript", src="asset/js/swiper.js")
    script(type="text/javascript", src="asset/js/apartment.js")

block content
    div.main-content
        h1.title-style1 FENG SHUI
        form.filter-block
            div.m-b-5 Năm sinh
            select.esta-select.block
                option 1990
                option 1991
                option 1992
                option 1993

            div.m-t-10.m-b-5 Giới tính
            select.esta-select.block
                option Nam
                option Nữ
                option Chưa xác định
            div.action-bottom.m-t-10.m-b-15
                button.link-action.esta-button.dis.block.btn-small(type="submit") Contact
        div.hr

        h1.title-style1 FENG SHUI
        div.block-result
            p: b Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            p <b>Năm sinh:</b> 1989
            p <b>Năm sinh âm lịch:</b> Kỷ Tị (30/12/1988)
            p <b>Quẻ mệnh:</b> Tốn ( mộc) thuộc Đông tứ mệnh
            p <b>Ngũ hành:</b> Đại Lâm Mộc (Gỗ rừng già )
            p <b>Hướng nhà:</b> hướng Đông (Hướng tốt), thuộc Đông tứ trạch
            p <b>Hướng cửa:</b> lorem ipsum
            p <b>Hướng ban công:</b> lorem ipsum
        div.wysiwyg
            img(src="asset/img/data-example/phong-thuy.png", alt="")
            p <b class="text-danger">Hướng tốt:</b> Bắc (Sinh khí: Phúc lộc vẹn toàn), Nam (Thiên y: Gặp thiên thời, được che chở), Đông (Diên niên: Mọi sự ổn định), Đông Nam (Phục vị: Được sự giúp đỡ)

            p <b class="text-danger">Hướng xấu:</b>  Tây Bắc (Họa hại: Nhà có hung khí), Tây (Lục sát: Nhà có sát khí), Tây Nam (Ngũ quỉ: Gặp tai họa), Đông Bắc (Tuyệt mệnh: Chết chóc) <br> (Nguồn tham khảo: Sách "Xây Dựng Nhà Ở Theo Địa Lý - Thiên Văn - Dịch Lý" của tác giả Trần Văn Tam - NXB Văn hóa thông tin năm 2002)
        div.hr

        h3.title-style1 Căn hộ tương tự
        div.slides-project-other.custom-swiper.row-main
            div(class="swiper-container")
                div(class="swiper-wrapper")
                    div(class="swiper-slide")
                        div.entry
                            div.thumbnail-custom
                                +thumbBg('p1.jpg')
                            .caption
                                h3.title Lorem ipsum dolor.
                    div(class="swiper-slide")
                        div.entry
                            div.thumbnail-custom
                                +thumbBg('p2.jpg')
                            .caption
                                h3.title Lorem ipsum dolor.
                    div(class="swiper-slide")
                        div.entry
                            div.thumbnail-custom
                                +thumbBg('p3.jpg')
                            .caption
                                h3.title Lorem ipsum dolor.

                div(class="swiper-button-prev")
                div(class="swiper-button-next")
