extends master_template.jade
include mixin/mixin.jade

block js_header
    script(type="text/javascript", src="asset/js/swiper.js")
    script(type="text/javascript", src="asset/js/apartment.js")

block content
    div.block-header-tab.layout-3
        a.active.item Nội thất
        a.item(href="search-filter.html") Hình ảnh
        a.item(href="search-filter.html") Sơ đồ
        div.clearfix
    div.main-content
        h1.title-style1.text-center Tên apartment
        div.slides-apartment.custom-swiper.row-main
            - var active = Math.floor(Math.random() * 2)
            if active == "1"
                .favorite.active
            else
                .favorite
            - var active = Math.floor(Math.random() * 2)
            if active == "1"
                .notification-single.active
            else
                .notification-single
            div.price-main $ 300.000
            div(class="swiper-container")
                div(class="swiper-wrapper")
                    div(class="swiper-slide")
                        div.entry
                            div.thumbnail-custom
                                +thumbBg('p3.jpg')
                    div(class="swiper-slide")
                        div.entry
                            div.thumbnail-custom
                                +thumbBg('p2.jpg')
                    div(class="swiper-slide")
                        div.entry
                            div.thumbnail-custom
                                +thumbBg('p4.jpg')

                div(class="swiper-button-prev")
                div(class="swiper-button-next")
            div.logo-designer
                div.thumbnail-custom
                    +thumbBg('agent3.png')
                div.summary
                    |Thiết kế bởi <br> <span class="title">Phát Tài Design </span>
                div.clearfix
        div.list-gallery
            a.item.active(href="")
                |Modern
                span.price $ 1,500-$ 2,500
            a.item(href="")
                |Contemporaty
                span.price $ 1,500-$ 2,500
            a.item(href="")
                |Classic
                span.price $ 1,500-$ 2,500

        h3.title-style1.m-t-15 Tổng quan
        div.block-property-single.layout-3-col.m-t-10
            div.line-icon
                img.icon(src="asset/img/data-example/icon/ic-size-black.png", alt="")
                |50m<sup>2</sup>
            div.line-icon
                img.icon(src="asset/img/data-example/icon/ic-floor-black.png", alt="")
                |Lầu thứ 9
            div.line-icon
                img.icon(src="asset/img/data-example/icon/ic-sea-view-black.png", alt="")
                |Hướng biển
            div.line-icon
                img.icon(src="asset/img/data-example/icon/ic-bed-black.png", alt="")
                |2 Phòng ngủ
            div.line-icon
                img.icon(src="asset/img/data-example/icon/ic-orientation-black.png", alt="")
                |Đông bắc
            div.line-icon
                img.icon(src="asset/img/data-example/icon/ic-bath-black.png", alt="")
                |2 Phòng tắm
            div.clearfix
        div.description.m-t-10
            div.short
                |Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...
            div.long
                |Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
                |Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
                |Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s
                |Vinhomes Royal City, inspired by the elegant European architecture, is said to be the best place to live in Hanoi. |Each apartment is equipped with a full range of modern and |advanced utilities that ensure absolute safety and comfort for |your family. The complex is surrounded by green, clean and safeopen spaces along with a diverse and complete set of facilities Royal City’s...
            div.more-link
                a.link  [+Xem thêm]
        div.hr

        h3.title-style1.m-t-15 Tiến độ xây dựng
        div.detail-procces
            .header-text 4/6 months
            div.process-bar
                span.text 100%
                div.processed(style="width: 50%")
                    span.text 50%
            p <b>Starting day:</b> 01/05/2015
            p <b>Expected completion time:</b> 01/06/2016
        div.hr.m-t-10

        h3.title-style1.m-t-15 Tiến độ thanh toán
        div.detail-procces
            .header-text 4/6 months
            div.process-bar
                span.text 100%
                div.processed(style="width: 40%")
                    span.text 40%
            p <b>Starting day:</b> 01/05/2015
            p <b>Expected completion time:</b> 01/06/2016
        div.hr.m-t-10

        h3.title-style1.m-t-15 Thông tin Người mua
        div.view-agent.m-b-20
            div.content-block
                div.avatar
                    img(src="asset/img/data-example/avatar.png")
                div.summary
                    .entry
                        div.username DINH MANH C
                        div.intro-agent
                            div.line-icon
                                span.icon: img(src="asset/img/icon/ic-mail.png")
                                |agent12345@gmail.com
                            div.line-icon
                                span.icon: img(src="asset/img/icon/ic-phone.png")
                                |+(84) 92 22 22 222
                            div.line-icon
                                span.icon: img(src="asset/img/icon/ic-home.png")
                                |20 Recent Sales
                            div.line-icon
                                span.icon: img(src="asset/img/icon/ic-calendar.jpg")
                                |Mua ngày: 25/12/2015
                div.clearfix
