.apartment-slider
    div.wrap-slider-big
        div.price $ 850,000
        div.caption
            .pull-left
                label.line#modern
                    span.text Modern
                    span.mark
                    span.price-item $ 1,500-$ 2,500
                label.line.active#contemporaty
                    span.text Contemporaty
                    span.mark
                    span.price-item $ 1,500-$ 2,500
                label.line#classic
                    span.text Classic
                    span.mark
                    span.price-item $ 1,500-$ 2,500
            .pull-right
                div.info-contact
                    div.image-logo
                        img(src="http://placehold.it/80")
                    div.info
                        p.text
                            |Furnished by <br>
                            b Furniture Company A
                        a Click here to contact >>
            .clearfix
        #slider.flexslider
            ul.slides
                li: span.entry: img(src="asset/img/data-example/apartment6.png")
                li: span.entry: img(src="asset/img/data-example/apartment1.png")
                li: span.entry: img(src="asset/img/data-example/apartment4.png")
                li: span.entry: img(src="asset/img/data-example/apartment2.png")
                li: span.entry: img(src="asset/img/data-example/apartment5.png")
                li: span.entry: img(src="asset/img/data-example/apartment7.png")
                li: span.entry: img(src="asset/img/data-example/apartment3.png")
    #carousel.flexslider
        ul.slides
            li: span.entry: img(src="asset/img/data-example/apartment6.png")
            li: span.entry: img(src="asset/img/data-example/apartment1.png")
            li: span.entry: img(src="asset/img/data-example/apartment4.png")
            li: span.entry: img(src="asset/img/data-example/apartment2.png")
            li: span.entry: img(src="asset/img/data-example/apartment5.png")
            li: span.entry: img(src="asset/img/data-example/apartment7.png")
            li: span.entry: img(src="asset/img/data-example/apartment3.png")