div.popup-map

    h3.title VINHOMES CENTRAL PARK > BLOCK A
        span.close
    div.entry
        div.row.border
            .col-left
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-floor-black.png", alt="")
                    b Floor
                    |: 36
            .col-right
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-orientation-black.png", alt="")
                    b South East
        div.row.border
            .col-left
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-floor-black.png", alt="")
                    b Apartments
                    |: 360
            .col-right
                div.line-icon.group-text
                    span.icon
                    b Available: 237 <br />
                    b Processing: 100 <br />
                    b Sold: 23
        div.row.border.view
            .col-left
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-view-black.png", alt="")
                    b Views:
            .col-right
                div.group-line-icon
                        div.line-icon
                            span.icon: img(src="asset/img/icon/view/ic_City View_20px.png")
                            |City view
                        div.line-icon
                            span.icon: img(src="asset/img/icon/view/ic_Garden View_20px.png")
                            |Garden view
                        div.line-icon
                            span.icon: img(src="asset/img/icon/view/ic_Park View_20px.png")
                            |Park view
                        div.line-icon
                            span.icon: img(src="asset/img/icon/view/ic_Swimming Pool View_20px.png")
                            |Pool view
        div.row.border
            .col-left
                div.line-icon
                    span.icon: img(src="asset/img/icon/ic-dola.png", width="10px", alt="")
                    b Price:
            .col-right
                div.line-icon.group-text
                    b Floor 1-10: &#160
                    | $100,000 - $200,000 <br />
                    b Floor 11-25: &#160
                    | $200,000 - $500,000 <br />
                    b Floor 26-36: &#160
                    | $500,000 - $1,000,000
        div.link-botom
            a.link Xem thêm
