extends master_template.jade
include mixin/mixin.jade

block content
    div.block-articles.m-t-15
        h2.title-style1.text-center HOT APARTMENTS
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more

    div.block-articles.bg-grey
        h2.title-style1.text-center SPECIAL DEALS
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more

    div.block-articles.m-t-15
        h2.title-style1.text-center POPULAR APARTMENTS
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more

    div.block-articles.bg-grey
        h2.title-style1.text-center NEW LISTINGS
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more

    div.block-articles.m-t-15
        h2.title-style1.text-center NEW LISTINGS
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more
    div.block-articles.bg-grey
        h2.title-style1.text-center UNDER $200,000
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more

    div.block-articles.m-t-15
        h2.title-style1.text-center FURNISHED APARTMENTS
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more

    div.block-articles.bg-grey
        h2.title-style1.text-center PENTHOUSES
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more

    div.block-articles.m-t-15
        h2.title-style1.text-center VILLAS
        div.list-style2
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p1.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p2.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.item
                div.entry
                    div.thumbnail
                        +thumbBg('p3.jpg')
                        div.caption
                            .price $ 3.000.000
                            .block-right
                                .address 989 Trần Quang Khải, p.9, q.1
                                .des
                                    span.item Đông Bắc
                                    span.item 50m <sup>2</sup>
                                    span.item 2 Phòng ngủ
            div.link-more.text-center
                a(href="", class="link") See more
