extends master_template.jade
include mixin/mixin.jade

block content
    div.block-header-tab.layout-2
        a.active.item Kết quả
        a.item(href="search-filter.html") Bộ lọc
        div.clearfix
    div.wrap-list
        div.block-inner1
            h1.title-style1 Lịch sử

        div.list-style3
            div.entry
                .item
                    +entryStyle3Wait('p1.jpg')
                .item
                    +entryStyle3Wait('p2.jpg')
                .item
                    +entryStyle3Wait('p3.jpg')
                .item
                    +entryStyle3Wait('p4.jpg')
                .item
                    +entryStyle3Wait('p1.jpg')
                .item
                    +entryStyle3Wait('p2.jpg')
                .item
                    +entryStyle3Wait('p3.jpg')

            div.link-more.text-center
                a(href="", class="link") See more
