extends master_template.jade
include mixin/mixin.jade

block content
    div.wrap-list
        form.filter-block.block-inner2
            select.esta-select.block
                option Block A
                option Block B
                option Block C
                option Block D

            select.esta-select.block.m-t-10
                option Floor 1
                option Floor 2
                option Floor 3
                option Floor 4

        div.block-inner1
            h1.title-style1 SEARCH RESULTS
                div.des-title We found 100 properties with availability.

        div.list-style3
            div.entry
                .item
                    +entryStyle3('p1.jpg')
                .item
                    +entryStyle3('p2.jpg')
                .item
                    +entryStyle3('p3.jpg')
                .item
                    +entryStyle3('p4.jpg')
                .item
                    +entryStyle3('p1.jpg')
                .item
                    +entryStyle3('p2.jpg')
                .item
                    +entryStyle3('p3.jpg')

            div.link-more.text-right
                a(href="", class="link") See more
