extends master_template.jade
include mixin/mixin.jade

block content
    div.block-header-tab.layout-3
        a.active.item Rangking
        a.item Top 10
        a.item Quy định
        div.clearfix
    div.main-content
        div.list-style2.list-agent
            div.wrap-list
                div.item
                    div.thumbnail
                        img(src="asset/img/data-example/agent2.gif", alt="")
                        span.ranking Rank <b>#1</b>
                    div.summary
                        h3.title Nguyễn Văn A
                        div.value-rating 5.367
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-mail.png", alt="")
                            |Email
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-phone.png", alt="")
                            |Số điện thoại
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-home.png", alt="")
                            |Số căn đã bán
                div.item
                    div.thumbnail
                        img(src="asset/img/data-example/agent2.gif", alt="")
                        span.ranking Rank <b>#2</b>
                    div.summary
                        h3.title Nguyễn Văn A
                        div.value-rating 5.367
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-mail.png", alt="")
                            |Email
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-phone.png", alt="")
                            |Số điện thoại
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-home.png", alt="")
                            |Số căn đã bán
                div.item
                    div.thumbnail
                        img(src="asset/img/data-example/agent2.gif", alt="")
                        span.ranking Rank <b>#3</b>
                    div.summary
                        h3.title Nguyễn Văn A
                        div.value-rating 5.367
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-mail.png", alt="")
                            |Email
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-phone.png", alt="")
                            |Số điện thoại
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-home.png", alt="")
                            |Số căn đã bán
                div.item
                    div.thumbnail
                        img(src="asset/img/data-example/agent2.gif", alt="")
                    div.summary
                        h3.title Nguyễn Văn A
                        div.value-rating 5.367
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-mail.png", alt="")
                            |Email
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-phone.png", alt="")
                            |Số điện thoại
                        .line-icon.block
                            span.icon: img(src="asset/img/icon/ic-home.png", alt="")
                            |Số căn đã bán

                    div.clearfix

            div.link-more.text-center.m-b-20
                a(href="", class="link") Xem thêm (Trang tiếp theo)
